<div> <h3> Welcome <%= @name %> Game time </h3>

<h4> Rules of the game 
  <p> - Rock beats Scissors
  - Scissors beats Paper
  - Paper beats Rock
  </p>
</h4> 
<p> Start when your ready </p>
<form action="/game" method="post" >
<input type="submit" name="rock" value="rock">
<input type="submit" name="rock" value="paper">
<input type="submit" name="rock" value="scissors">
</form>
</div>