<div style="background-color: lightblue; height: 100%;">
<div style="text-align: center; position: relative; top: 35%; font-size: 40px; ">
 
<h1> Welcome Marketeer!!! :) </h1>

<form action="/play" method="post"> 
<label for="player1">Name:</label>
<input type="text" name="player1">
<input style="width: 8%;" type="submit" name="Submit">
</form>

</div>
<div>