<h3><%= @name %>, make your move:</h3>

<form action="/move" method="post">
  <input type="submit" name="action" value='ROCK' content="Rock">
  <input type="submit" name="action" value='PAPER' content="Paper">
  <input type="submit" name="action" value='SCISSORS' content="Scissors">
</form>