<div style="background-color: lightblue; height: 100%;">
<div style="text-align: center; position: relative; top: 35%; font-size: 40px; ">
  Result of the game:
  <br>
 <%= @winner.game_result %>
</div>
<div>