require "bot_attack"
<!-- in views/attack.erb -->
<center>
<br>
<h2><%= @player_1_name %> vs. RPS bot</h2>

</br></br>
  <label for="bot_attack"> RPS bot your move:</label>
  <%= @rps_bot_attack %> 

</center>