Choose from the three options <br>
<form action="/rock">
  <button type="submit" value="option">Rock</button>
</form>
<form action="/paper">
  <button type="submit" value="option">Paper</button>
</form>
<form action="/scissors">
  <button type="submit" value="option">Scissors</button>
</form>