<h1><%= @player_name %> vs CPU! What do you choose?</h1>

<form action="/results" method="post">
  <label for="choice">
    ROCK, PAPER OR SCISSORS?
  <input type="text" name="choice">
  </label>
  <input type="submit" value="GO">
</form>
