Welcome <%=@player.name%>!
Choose an option:
<form action="/play" method="post">
  <input type="submit" name="name" value="Rock">
  <input type="submit" name="name" value="Paper">
  <input type="submit" name="name" value="Scissors">
</form>