<% if @choice == Rock %>
	<h2><strong>Congratulations!!! You won!!!</strong></h2>
<% elsif @Choice == Paper %>
	<h2><strong>It's a draw!</strong></h2>
<% else %>
	<h2><strong>Sorry you lost. Better luck next time.</strong></h2>	
<% end %>