<head>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
<h1>Welcome <%=@game.player.name%>!</h1>
<h2>Choose an option:</h2>
<form action="/play" method="post">
  <input type="submit" name="name" value="Rock">
  <input type="submit" name="name" value="Paper">
  <input type="submit" name="name" value="Scissors">
</form>
</body>