<h1 style="text-align: center;"> <%=$result%> </h1>

<div style="position: absolute; right: 46%;">
  <form style="display: inline;" action='/anothergame' method='get' >
    <input type="submit" value="Play Again">
  </form>

  <form style="display: inline;" action='/' method='get' >
    <input type="submit" value="Exit">
  </form>
</div>