<h1> Welcome to Rock, Paper, Scissors, Lizard, Spock </h1>
<p style="font-size:100px">&#128511; &#128209; &#9986; &#129422; &#128406</p>
<img src = "https://upload.wikimedia.org/wikipedia/commons/a/ad/Pierre_ciseaux_feuille_lézard_spock_aligned.svg" alt = "RPSLS Explination" width = "400" height = "400">

<form action = '/play' >
  <input type = 'submit' value = 'Back' >
</form>
