<form action='/start' method='post'>
    <label for='player-name'>What is your name? </label><br>
    <input id='player-name' name='player' type='text'><br>
    <input type='submit' value='submit'>
</form>

