<form action="/names" method="post" id="player_1_name">
<label for="exampleInputEmail1">What would you like to be called?</label>
<input type="text" class="form-control" id="user_name" name="player_1_name" placeholder="Enter name">
</br>
<button type="submit"  value="submit" class="btn btn-primary">PLAY</button>
