<h1>Welcome <%= @player_name %>!</h1>
<h2>Choose your move:</h2>
<form action="/choice" method="post">
<button type="sumbit" name="choice" value="Rock">Rock</button>
<button type="sumbit" name="choice" value="Scissors">Scissors</button>
<button type="sumbit" name="choice" value="Paper">Paper</button>

<!-- <a href="/rock">Rock</a>
<a href="/scissors">Scissors</a>
<a href="/paper">Paper</a> -->
