<html>
  <head>
      <title>Rock Paper Scissors</title>
      <link href="<%= url("/styles.css") %>" rel="stylesheet" type="text/css" />
  </head>
  <body class="container">
    <section>
      <h1><%= @player1 %> vs Computer</h1>
    </section>
    <section class="container buttons">
        <h3>Select your move</h3>
        <p><%= @move %></p>
    </section>
  </body>
</html>