<%= @player_1_name %> Vs. <%= @player_2_name %>
<br>
<div id="p1form">
  <form action="/submit_moves" method="post">
    <label for="p1move">Player 1 move:</label>
    <select name="p1move">
      <option value="rock">Rock</option>
      <option value="paper">Paper</option>
      <option value="scissors">Scissors</option>
    </select>
    <%if !@single_player%>
      <label for="p2move">Player 2 move:</label>
      <select name="p2move">
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissors">Scissors</option>
      </select>
    <%end%>
    <input type="submit" value="Submit moves">
  </form>
</div>