<style>
  button {
    cursor: pointer;
  }
  .choice {
    /* visibility: hidden; */
  }
</style>

<%= @player_name %>

<p>Your turn to select</p>

<form action='/choice' method='post'>
  <input class='choice' type="text" name='rock' value='rock'>
  <button type='submit'>rock</button>
</form>

<form action='/choice' method='post'>
  <input class='choice' type="text" name='paper' value='paper'>
  <button type='submit'>paper</button>
</form>

<form action='/choice' method='post'>
  <input class='choice' type="text" name='scissors' value='scissors'>
  <button type='submit'>scissors</button>
</form>


<%= @choices %>
