<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RPS PvE</title>
  </head>
  <body>
    <header>
      <h2>This match:</h2>
    <h1><%= @game.player_1.name %> V Computer</h1>
    </header>
    <main>
      <br>
      <br>
      <h2> Choose your move (wisely)! </h2>
      <br>
      <form action="/move-submit" method="post">
        <input type="submit" name="player_choice" value="Rock" />
        <input type="submit" name="player_choice" value="Paper" />
        <input type="submit" name="player_choice" value="Scissors" />
      </form>
    </main>
  </body>
</html>
