Hello <%=@player_name%>, welcome to Rock/Paper/Scissors <br>

Choose from the three options <br>
<form action="/rock">
  <button type="submit">Rock</button>
</form>
<form action="/paper">
  <button type="submit">Paper</button>
</form>
<form action="/scissors">
  <button type="submit">Scissors</button>
</form>
