<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Welcome Mighty <%= @player_name %></h1>
  <br>
  <button type="button" class="rock">Rock</button>
  <button type="button" class="paper">Paper</button>
  <button type="button" class="scissors">Scissors</button>
</body>
</html>
