<h1> Hello <%= "#{$game.player_name}"%>, welcome to the game! Please choose your move.</h1>

  <form action="/result" method="post">
      <input type="hidden" name="move" value="Rock">
      <button type="submit">Rock</button>
  </form>

  <form action="/result" method="post">
      <input type="hidden" name="move" value="Paper">
      <button type="submit">Paper</button>
  </form>

  <form action="/result" method="post">
      <input type="hidden" name="move" value="Scissors">
      <button type="submit">Scissors</button>
  </form>
