<h1><font face = "Arial">Prepare for battle, <%= @player_1_name %>!</font><h1>
<h2><font face = "Arial">CHOOSE YOUR WEAPON!</font><h2>
<form action="/selection" method="post">
 <h1>&#x1F44A; <input type="submit" value="ROCK"></h1>
 <h1>&#x270B; <input type="submit" value="PAPER"><h1>
 <h1>&#x270C; <input type="submit" value="SCISSORS"><h1>
</form>