Hello <%=@player_name%>, welcome to Rock/Paper/Scissors <br>

Choose from the three options <br>
<form action="/rock">
  <button type="submit">Rock</button>
</form>
<button type="button">Paper</button>
<button type="button">Scissors</button>