<h1>Enter your choice, <%=@name%>:</h1>
<form method="post" action="/choice">
  <select id="choice" name="choice">
    <option value="Rock">Rock</option>
    <option value="Paper">Paper</option>
    <option value="Scissors">Scissors</option>
  </select>
  <input value="Go!" type="submit">
</form>
