<h1>Enter your choice, <%=@name%>:</h1>
<form method="post" action="/choice">
  <input name="choice" type="submit" value="Rock"></option>
  <input name="choice" type="submit" value="Paper"></option>
  <input name="choice" type="submit" value="Scissors"></option>
</form>
