<h1> Hello <%= "#{@player}"%>, welcome to the game! Please choose your move.</h1>

  <form action="/" method="post">
      <input type="hidden" name="move" value="rock">
      <input type="hidden" name="name" value="<%= "#{@player}"%>">
      <button type="submit">Rock</button>
  </form>

  <form action="/" method="post">
      <input type="hidden" name="move" value="paper">
      <input type="hidden" name="name" value="<%= "#{@player}"%>">
      <button type="submit">Paper</button>
  </form>

  <form action="/" method="post">
      <input type="hidden" name="move" value="scissors">
      <input type="hidden" name="name" value="<%= "#{@player}"%>">
      <button type="submit">Scissors</button>
  </form>
