<h1> Welcome to Rock, Paper, Scissors, Lizard, Spock </h1>
<p style="font-size:100px">&#128511; &#128209; &#9986; &#129422; &#128406</p>
<form action = '/play' method = 'post'>
  <label for = 'enter_player_one_name' >
    Enter Player One's name:
    <input type = 'text' name = 'player_one_name'
  </label>
  <br>
  <label for = 'enter_player_two_name' >
    Enter Player Two's name:
    <input type = 'text' name = 'player_two_name' >
  </label>
  <br>
  <input type = 'submit' value = 'submit' >
</form>

<h2> Good luck! </h2>
