<h1>It's Rock, Paper, Scissors time!</h1>
<h2>Sign in here to play</h2>
<form action="/register_name" method="post">
  <label for="player_name">
  Player 1 name
  <input type="text" name="player_name">
  </label>
  <input type="submit" value="Submit">
</form>
