<h1>Welcome to Rock, Paper, Scissors!</h1>
<h2>Sign in to play</h2>
<form action="/log_name" method="post">
  <label for="player_name">
    Please enter your name! :D
    <input type="text" name="player_name">
    </label>
    <input type="submit" value="Submit">
</form>

<style>
body {
background-image: url('https://projects-static.raspberrypi.org/projects/rock-paper-scissors/53e3d7650eb63c856515c59aa623eac4497c067f/en/images/rock-paper-scissors.png');
}
