<h1> Welcome to Rock Paper Scissors </h1>

<form action = '/play' >
  <label for = 'enter_your_name' >
    Enter your name:
  <input type = 'text'
  </label>
  <input type = 'submit' value = 'submit'
</form>

<h2> Good luck! </h2>
