<h1><em>It's Rock, Paper, Scissors time!
<div style='border: 3px solid red'>
   </div>
</em>
</h1>
<h2>Sign in here to play</h2>
<form action="/play" method="post">
  <label for="player_name">
  Player name
  <input type="text" name="player_name">
  </label>
  <input type="submit" value="Submit">
</form>

<!-- <!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>

<h1>It's Rock, Paper, Scissors time!</h1>
<div style='border: 3px solid red'>
   </div>
<p>Sign in here to play:</p>
<form action="/play" method="post">
  <label for="player_name">
  Player name
  <input type="text" name="player_name">
  </label>
  <input type="submit" value="Submit">
</form>

</body>
</html> -->
