<h1> Rock, Paper, Scissors. EXPERIENCE THE POWER OF FATE. </h1>
<br>
<h2> What is your name, challenger? </h2>
<br>
<form action='/playerchoice' method='post'>
  <input type='text' name='name'>
  <input type='submit' value='Submit'>
</form>