<h1>Let's play!</h1>
<h2>Sign in to play</h2>
<form method="post" action="/play">
  <label for="player_1_name">
    Player 1 name
    <input type="text" name="player_1_name">
  </label>
  <input type="submit" value="Submit">
</form>