<div>
<h1>Let's play rock, paper scissors<h1>
<div>

<form action="/names" method="post">
<label for="name">Name:</label>
<input type="text" name="player_1_name">
<input type="submit" value="Play">
</form>