<body style="background-color: Pink;">
<img src="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1120w,f_auto,q_auto:best/newscms/2016_11/1016196/rock-paper-scissors-today-tease-160317.jpg" alt="Flowers in Chania" width="460" height="345">
<h1>Rock,Paper,Scissors</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    Player 1 name
    <input type="text" name="player_1_name">
  </label>
  <input type="submit" value="Submit">
</form>
</body>
