<p>Ready to play Rock, Paper, Scissors?</p>
<form action="/choose-your-weapon" method="post">
  <label for="player_1_name">Enter your name here:</label>
  <input type="text" name="player_1_name">
  <input type="submit" value="Submit">
</form>