<h1>Welcome to the Rock-Paper-Scissors Game</h1>
<br>
<br>
<form action="/play" method="POST">
  <h3>Please enter your name:</h3>
  <input type="text" name="name">
  <br>
  <br>
  <input type="submit" value="Start Game">
</form>
