ROCK PAPER SCISSORS!
<br>
<br>
<form action="/instructions">
  <input type="submit" value="1. Rules">
</form>
<br>
<br>
<form action="/single-player">
  <input type="submit" value="2. Player vs Computer">
</form>
<br>
<br>
<form action="/multiplayer">
  <input type="submit" value="3. Player vs Player ">
</form>
