<h1><font face = "Arial">&#x1F44A; ROCK   &#x270B; PAPER   &#x270C; SCISSORS</font></h1> 
<h2><font face = "Arial"> ENTER YOUR NAME TO BEGIN!</font></h2>
<form action="/names" method="post">
  <input type="text" name="player_1_name">
  <input type="submit" value="Submit">
</form>

