
<head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"></head>
<body style="text-align:center;background-color:#ccffcc">

<title>Rock Paper Scissors</title>
<h1>Challenge time!</h1>
<p>Here are your rules...<br><br>Rock beats Scissors<br>Scissors beats Paper<br>Paper beats Rock</p>
    <div style="background-color:#6666ff;color:white;padding:20px;">
    <form action="/name" method="post">
        <label for="player1_name">Player 1: </label>
        <input placeholder="Enter your Name" name='player1_name'><br><br>
        <input type="submit" value="Start Game">
    </form>
    </div>
</body>