<html align= center>
  <h1> ROCK, PAPER, SCISSORS </h1>
    <h2> Enter your name below </h2>
      <form action = '/name' method="post">
        <label >Player 1</label><br>
        <input type="text" id="Player 1" name="player_1"><br><br>
        <input type="submit" value="Play Game">
      </form>  
</html>  