<div class="wrapper">
<h1>Rock, Paper or Scissors</h1>
<br>

<div class="container">
<form action="/names" method="post">
    Player name
    <div class="form-group">
<input type='text' name='player_one_name'class="form-control">
</div>
<input type='submit' value='Submit'class="btn btn-outline-success btn-lg" data-mdb-ripple-color="dark">
</form>
</div>





