<h1>'Welcome!'</h1>

<h2>Please enter your name</h2>

<form action="/names" method="post">
  <label for="Player 1">
    Player 1: </br>
    <input type ="text" name="p1_name">
  </label>
  <br>
  <label for="Player 2">
    Player 2:</br>
    <input type="text" name="p2_name">
  </label>
  <br>
  <input type="submit" value="Submit">
</form>