<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="/style.css">
    <title>Rock, paper and scissors game</title>
  </head>
  <body>
    <h1 style="text-align:center">Welcome to rock, paper and scissors game!</h1>
    <br>
    <div id="div1">
      <form action="/name" method="post">
        <p><h2 style="text-align:center">Please enter both player names</h2></p>
        <label for="name1">Player 1:</label>
        <input id="align_middle" type="text" name="name1"><br>
        <label for="name2">Player 2:</label>
        <input id="align_middle" type="text" name="name2"><br>
        <input id="align_middle" type="submit" value="submit"><br>
      </form>
    </div>
  </body>
</html>