<h1>ROCK PAPER SCISSORS</h1>
<h3>Please enter your name</h3>
<form method="post" action="/name" id="name_form">
    <input type=text name="player_name"></input>
    <button type=submit>submit</button>
</form>