<!DOCTYPE html>
<html>
  <body>

    <h1>Enter your name:</h1>
    <form action="/play" method="post">
        <input type="text" id="name" name="name">
        <input type="submit" value="Submit">
    </form> 


  </body>
</html>
