<h1 style="color: blue"> Welcome to Rock, Paper, Scissors!</h1>
<h2>Sign in to start playing!</h2>
<form action="/player_name" method="post">
  <label for="player_name">
  Player Name
  <input type="text" name="player_name">
  </label>
    <input type="submit" value="Submit">
</form>