<form action="/name" method="post">
  <h1> Welcome to Rock, Paper, Scissors! </h1>
    <h2> Please enter your name to start the game </h2>
      <label> 
        Name
        <input type="text" name="player_name">
      </label>
    <input type="submit" value="Submit">
</form>
