<style>
h1{text-align: center; font-family: Courier}
form{text-align: center;}
</style>
<h1>Welcome to Rock/Paper/Scissors</h1>
<form action="/register" method="get">
  <input style="height: 50px; width: 200px;font-size: 20px"type="submit" value="register to play" id="register to play">
</form>