<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<div id="player">
<%= @player_name %>
</div>
<h1>Rock, Paper, Scissors ?</h1>
<p>PLAY THE GAME</p>

<br>
<div id='login'>
<form action="/names" method="post">
  <input type="text" name="player_name">
  <input type="submit" value="Enter your name">
</form>
</div>
<br>



</body>
</html>