<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rock Paper Scissors | Enter Name</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body>
  <form action='/name' method='post'>
    <input class='form-control' type='text' name='player_name' placeholder='Enter Name'>
    <input class='submit-btn' type='submit' value='Submit'>
  </form>
</body>
</html>