<!DOCTYPE html>
<html>
<head>
<title>Rock Paper Scissors</title>
</head>
<body>
    <h1>Rock, Paper, Scissors</h1>
    <h2>What's your name?</h2>
    <form action="/game-time" method="get">
        <label for="player_name">
            Player name:
            <input type="text" name="player_name">
        </label>
        <input type="submit" value="Submit">
    </form>

</body>
</html>