<h1>Ready to play Rock, Paper Scissors?!</h1>
<h2>Choose your difficulty level!</h2>
<form action="/register" class='box_location' method="post">
<label for="classic">Classic</label>
<input type="radio" name="gamevariant" id="classic" value="classic" >
<label for="spock">Expert</label>
<input type="radio" name="gamevariant" id="spock" value="spock" >
<br>
<h2>Choose Players</h2>
<input type="submit" name="gametype" value="Single Player">
<input type="submit" name="gametype" value="Multiplayer">
</form>
