<h1 style="font-family: monospace; text-align: center">Lets Play Rock, Paper, Scissors!</h1>
<br><br>
<h3 style="font-family: monospace; text-align: center">Enter your player name:</h3>
<br><br>
<form style="font-family: monospace; text-align: center" action="/names" method="post">
  <label for="player_name">
    Challenger:
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Submit">
</form>
<br><br>
<center><img src="https://img-premium.flaticon.com/png/512/4144/4144533.png?token=exp=1620998934~hmac=2c135c32ca0d043084a6545b1ec62ee3" alt="RockPaperScissors!" width="400" height="400"></center>
