<html>
<head>
<style>
h1 {
  text-align: center;
  padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.form {
  text-align: center;
  padding-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url("https://img.freepik.com/free-photo/rock-paper-scissors-gambling-hand-game-all-ages-sex-this-is-asian-male-hands-post-white-background_39476-727.jpg?size=626&ext=jpghttps://img.freepik.com/free-photo/rock-paper-scissors-gambling-hand-game-all-ages-sex-this-is-asian-male-hands-post-white-background_39476-727.jpg?size=626&ext=jpg");
  background-size: cover;
  background-color: white;
}
</style>
</head>
<body>
<h1>Let's play!</h1><br>
<div class="form">
<form method="post" action="/play">
  <label for="name">Enter player 1 name: </label>
  <input type="text" name="player_1_name"><br>
  <input type="submit" value="Submit">
</form>
</div>
</body>
</html>