
<!DOCTYPE html>
<html>
 <head>
   <link rel="stylesheet" href="styles.css">
 </head>


 <body>

  <h1>Rock, Paper, Scissors ?</h1>
   <br>
  <p>PLAY THE GAME</p>

<br>

 <div id='login'>
  <form action="/names" method="post">
    <input type="text" name="player_name">
    <input type="submit" value="Enter your name">
   </form>
</div>

 <br>

</body>

</html>