<h1>Rock, Paper, Scissors<h1>
<form action="/registered" method="post">
  <input type="text" name="player" placeholder="Enter player name">
  <button type="submit" class="btn btn-dark">Play</button>
</form>