<form action='/name' method='post'>
  <label for='player_name'>Name: </label>
  <input type='text' id='player_name' name='player_name' placeholder='Enter name...'>
  <button type='submit'>Register</button>
</form>
