<body>
  <div>
    <h1 style="font-family: helvetica">This is Rock, Paper, Scissors</h1>
  </div>
  
  
  <div id="user input">
    <div id="user input section title">
      <h3 style="font-family: helvetica">Players, enter your usernames</h3>
    </div>

    <form action="/players" method="post">
      <div id="player_one">
        <div id="player_one_name_input">
          <label for="player_name">Player One: </label>
          <input type="text" id="player_one_name" name="player_one_name">
        </div>
        <div id="player one CPU input">
          <input type="checkbox" id="player_one_CPU" name="player_one_CPU" value="true">
          <label for="player_one_CPU">CPU?</label>
        </div>
      <div id="two">
        <div id="player_two_name_input">
          <label for="player_two_name">Player Two: </label>
          <input type="text" id="player_two_name" name="player_two_name">
        </div>
        <div id="player two CPU input">
          <input type="checkbox" id="player_two_CPU" name="player_two_CPU" value="true">
          <label for="player_two_CPU">CPU?</label>
        </div>
        <input type="submit" value="Ready!">
    </form>
  </div>
</body>
