<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> Rock Paper Scissors</title>
  <meta name="description" content="Description Goes Here">
  <link rel="stylesheet" href="style.css">
</head>
<body>
<form action="/name" method="post">
  login
  <input type="text" name="login_box">
  <input type="submit" value="Submit">
</form>
<script src="js/scripts.js"></script>
</body>
</html>
