<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	<style type="text/css">
		body {
			text-align: center; 
			color: blue;
		}
		input {
			width: 20vw;
			font-size: 1rem !important;
			color: green;
			background-color: pink;
		}
	</style>
</head>
<body>
	<h1>Bruh, you must be really bored to wanna play this game. </h1>
	<h2>Click to register below </h2>
	<form action="/form" method="get">
	<input type="submit" value="Register">
	</form>
</body>
</html>