<form method="post" action="/game_mode">
  <input type="submit" name="mode" value="Single Player">
  <input type="submit" name="mode" value="Two Player">
  <input type="submit" name="mode" value="Rock, Paper, Scissor, Lizard, Spock">
</form>