<h1>Rock, Paper, Scissors - The Ultimate Game!!!</h1>
<h2>Tired of marketing? We've got you sorted ;)</h2>
<a href="/cpu">
  <input type="submit" value="Play against your stupid computer">
</a>
<a href="/twoplayer">
  <input type=""submit" value="Play against your stupid friend">
</a>