<h1>Rock, Paper, Scissors</h1>
<form method="POST" action="/result">
  <h2>Your name:</h2>
  <input for= "name "name="name" id="name" placeholder="Your name" type="text">
  <h2>Choose your move:</h2>
  <input for="choice" name="choice" type="submit" value="Rock">
  <input for="choice" name="choice" type="submit" value="Paper">
  <input for="choice" name="choice" type="submit" value="Scissors">
</form>