<h1> Rock Paper Scissors! </h1>
  <h2> Register your name to play </h2>

  <form action="/names" method="post">
    <label for="player_name">
     Player Name
    <input type="text" name="player_name">
    <input type="submit" value="start the game">
     </label>
  </form>
