<html>
<head>
<style>
body {
  background-image: url('https://is4-ssl.mzstatic.com/image/thumb/Purple114/v4/77/af/9d/77af9d6e-98a5-58bc-3910-bbea26370ca1/source/256x256bb.jpg');
}
</style>
</head>
<body>
<h1>Lets play Rock, Paper, Scissors!</h1>
<h2>Enter your name</h2>
<form action="/name" method="post">
  <input type="text" name="player_name">
  <input type="submit" value="Submit">
</form>

</body>
</html>