<h1> Rock Paper Scissors </h1>
<p> Please enter your name and surname to register: </p>

<form action="/select_move" method="post">
  <label for="player_1_name">
    Insert credentials: 
    <input type="text" name="first_name">
    <input type="text" name="second_name">
  </label>
  <input type="submit" value="Submit">
</form>