<center><h1>Rock, Paper, Scissors!</h1></center>
<hr>
<center><h2>Register to play</h2></center>
<br>
<form style="text-align: center; " action="/name" method="post">
  <label for="player_name">
    <h3>Enter your name:</h3>
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Submit">
</form>
