<h1>Welcome to Rock, Paper and Scissors Game!</h1>

<form action="/gamemode" method="post">
  <input type="radio" name="mode" value="single_player">
  <label for="single_player">Play against the computer! (Single Player)</label>
  <input type="radio" name="mode" value="multiplayer">
  <label for="multiplayer">Play against another player! (Multiplayer)</label>
  <button type="submit" value="submit">Play Now!</button>
</form>
