<h2>Welcome players!</h2>
<h3>Enter your names:</h3>
<form action='/name' method='post'>
  <input type='text' name='first_player_name' placeholder='Player 1 name here...'>
  <input type='text' name='second_player_name' placeholder='Player 2 name here...'>
  <input type='submit' value='Submit'>
</form>