<style>
  body { background-color: #ADD8E6;
				 text-align: center;
				 font-family: Helvetica;
				 color: #003E3F;
				 padding: 300px;
				 font-size: 50px
				}

</style>


<h1>Welcome to RPS</h1>

<img scr="https://miro.medium.com/max/800/1*8du96SQUQ0NlWmWvVu20Zw.png" />

<form action='/names' method='post'>
  <input type="text" name="name" placeholder="Enter name" style="padding: 20px; font-size: 20px" />
	<button type="submit" style="background-color: #009092; padding: 10px; font-size: 20px " >Let's Go!</button>
</form>