<h1>Hello welcome to a game of rock paper scissors </h1>
<h2>Before we get started I need your name</h2>

<form action="/name" method="post">
  <label for="player_name"> 
    Please enter your name
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="submit">
</form>