<!DOCTYPE html>
  <html>
    <head>
    </head>
    <body>
        <form action="/name" method="POST">
        <label for="name" method="POST">Name</label><br>
        <input type="text" name="first_name" id="name" value="Name">
        <input type="submit" value="Submit">
    </body>
  </html>