<style>
.content {
  max-width: 500px;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-left: 90px  
  }
.box div {
  width: 100px;
  height: 100px; 
}
.name {
  padding-left: 100px;
}
.title {
  margin: auto;   
  position: absolute;
  position: relative;
  top: 30%;
  left: 30%;
  padding-left: 20px; 
  animation-name: example;
  animation-duration: 4s;
}
@keyframes example {
    from {
        transform : scale(1);
        opacity   : 1;
    }
    50% {
        transform : scale(0.75);
        opacity   : 0.25;
    }
    to {
        transform : scale(1);
        opacity   : 1;
    }
}
</style>
<body style="background-color: hsla(120, 100%, 50%, 0.3);">
<div class='title'>
<h1>Welcome to Rock, Paper, Scissors</h1>
</div>
<div class="content">
<div class="box">
<form action="/names" method="post">
  <label for ="name">Player 1</label>
  <input type="text" name="player_1_name" id="name">
  <div class="buttons">
  <input type="submit" value="Submit" name="button">
  </div>
  </div>
</form>
</div>
</body>