<h1><span class="display-1">Rock, Paper, Scissors</span><h1>
<form class="mt-5" action="/registered" method="post">
  <div class="col-12">
    <input type="text" name="player" placeholder="Enter your name">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-dark px-5">Play</button>
    </div>
</form>