<h1>Let's Play Rock, Paper, Scissors!</h1>
<h2>Enter your name to play!</h2>
<form action="/play" method="post">
<input type="text" name="player_name">
<!-- <input type='button' name="computer"> -->
<input type="submit" value="Submit">
</form>
