
<h1>Welcome to ROCK PAPER SCISSORS</h1>
<form action="/action_page", method='post'>
  <label for="name">Enter your name:</label><br>
  <input type="text" id="name" name="name" value=""><br>
  <input type="submit" value="Submit">
</form>