<body>
  <h3>Philip Carr - RPS Challenge</h3>
<div>
  <h1>Enter your name:</h1>
<form action="/name" method="post">
  <p><input type="text" name="player_name"></p>
  <p><input type="submit" value="Let's play!"></p>
</form></p>
</center>
</body>
</div>
