<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rock, Paper, Scissors</title>
  </head>
  <body>
    <div>
      <h3>Welcome to</h3>
      <h1>Rock | Paper | Scissors</h1>
      <h3> The Temporary Cure for Persistent Marketing Woes (TM) </h3>
    </div>
    <main>
      <br>
      <h2>To get started, please choose your game mode:</h2>
      <form action='/mode-select' method='post'>
        
        <br>
        <input type="submit" name="1P" value="Single Player (vs Computer)">
        <input type="submit" name="2P" value="Two Player">
      </form>
    </main>
  </body>
</html>
