<h1> Enter your name </h1>

<form action="/enter-name" method="post">
  <label for="Player_1">
    Player 1
    <input type="text" name="Player 1">
    <input type="submit" value="Submit">
  </label>
</form>
