
<h1> Welcome to Rock, Paper, Scissors </h1>
<br>
<br>
<h3> Please enter your names : </h3><br>


<form action="/names" method="post">
<label for="name1"> Player 1: &nbsp</label>
<input type="text" name="name1"><br><br>
<label for="name2"> Player 2: &nbsp</label>
<input type="text" name="name2" value="CPU"><br><br>
<h3> and choose a 1 or 2 Player game: </h3><br>
<input type="radio" id="1" name="twoplayer" value="false" checked="checked">
<label for="1p">1 Player</label><br>
<input type="radio" id="2" name="twoplayer" value="true">
<label for="2p">2 Player</label><br>
<br>
<input type="submit" name="Submit"><br>
</form>
<br>
