<h1>Welcome to Rock, Paper, Scissors. Please enter your username!</h1>

<form action="/game" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name"/>
  <button type="submit" name="submit">Submit</button>
</form>