<html>
<body>
  <h1> Rock, Paper, Scissors </h1>
  <h2> Please enter your name: </h2>
  <form action="/names" method="post">
    <label for="player_1_name">
      Player name
    <input type="text" name="player_1_name">
    </label>
    <h1> Choose your weapon  </h1>
 <label for="Rock">Rock</label><br>
<p> <input type="radio" id='rock' name="weapon" value="rock"> </p>
<label for="Paper">Paper</label><br>
 <p> <input type="radio" id='paper' name="weapon" value="paper"> </p>
 <label for="Scissors">Scissors</label><br>
 <p> <input type="radio" id='scissors' name="weapon" value="scissors"> </p>
 <input type="submit" name="Play">
 </form>

</body>
</html>