<h1><u>Welcome to Rock Paper Scissors!</u></h1>
<h2>Enter your name to play</h2>
  <form action="/players" method="post">
    <label for="player_1"> Player: <input type="text" name="player_1"> </label>
    <input type="submit" value="Play!">
  </form>