<div style= "font-family: Tahoma, sans-serif; background: rgb(238,213,174);
background: radial-gradient(circle, rgba(238,213,174,1) 9%, rgba(162,148,233,1) 97%)">
<center>
</br>
<h1> Rock Paper Scissors </h1>

<form action='/weapon' method='post'>
  <label for='player_name'>
  Sign in here
    <input type='text' name='name' placeholder="Enter your name">
  </label>
  <input type='submit' value='Start'>
</form>
</br>
</center>
</div>