<h1> Welcome to the online Game:</h1>

<h2>Rock Paper Scissors</h2>

<p> Please enter your name to register: </p>

<form action="/select_move" method="post">
  <input type="text" name="player">
  <input type="submit" value="Submit">
</form>