<h1> Let's play RockPaperScissors! Enetr your name </h1>

<form action="/names" method="post">
  <label for="Player_1">
    Player 1
    <input type="text" name="" value="Player_1">
  </label>
</form>
