<head>
<link rel ="stylesheet" type="text/css" href="/style.css"/>
</head>

<body>
<h1>play Rock Paper Scissors</h1>
<h2>please sign in:</h2>
<form action="/names" method="post">
  <label for="player1">
    player 1:
    <input class="input" type="text" name="player1">
  </label>
  <label for="player2">
    player 2:
    <input class="input" type="text" name="player2">
  </label>
  <input class= "btn" type="submit" value="Go!">
</form>
</body>