<head>
<link rel="stylesheet" href="<%= url('/style.css') %>">
</head>
<body class='background_1'>
<div class=contents>
<h1>Let's play!</h1>
<h2>Rock, Paper, Scissors</h2>
<form action="/play" method="post">
  <label for="player_name">
    Player name
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Submit">
</form>
</div>
</body>