<h1>Let's start the GAME</h1>
<h2>Sing in to play!<h1>
  <form action="/star-the-game" method="post">
  <label for="name">name:</label>
  <input type="text" name="name">
  <input type="submit" value="Go!">
</form>