<h1>
Hello, user!
</h1>
<form action="/name" method="post">
<input type="text" placeholder="Enter your name" name="user_name">
<button type="submit">Submit</button>
</form>
<h2>...and let's play! :)</h2>