<h1 style="font-family: Monospace, monaco; text-align: center">TIME TO PLAY!</h1>
<h2 style="font-family: Monospace, monaco; text-align: center">Rock, Paper, Scissors</h2>

<h3 style="text-align: center">Enter your name:</h3>

<style>
input[type=submit]{
  background-color: orange;
  border: 4px solid: white;
  color: black;
  padding: 4px 8px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type="submit"]:hover {
	background: chartreuse;
}
</style>

<form style="text-align: center" action="/name" method="post">
  <label for="name">
    Player name
    <input type="text" name="name">
      <input type="submit" value="Submit">
</form>

<body style="background-color: #ffea00"></body>
<center><img src='https://www.esquireme.com/public/styles/full_img/public/images/2017/05/29/rock_paper_scissors__2x.png?itok=7H3NxSxN'><center>
