<h1> ROCK PAPER SCISSORS LIZARD SPOCK! </h1>

<form action="/instructions">
  <input type="submit" value="1. Instructions">
</form>

<form action="/soloplay">
  <input type="submit" value="2. Player vs Computer">
</form>

<form action="/multiplayer">
  <input type="submit" value="3. Player vs Player">
</form>
