<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rock Paper Scissors Game</title>
</head>
<body>
    <h1>Rock Paper Scissors Game</h1>
    <h2>Are you ready for the fight?</h2>
        <form action="register" methode="post">
            <label for="player1">What is your name Strager?</label>
            <input type="text" name="player1">
            <input type="submit" value="Start Game">
        </form>
</body>
</html>