<h1> All hope abandon ye who enter here! </h1>
<h2> Enter thy name, poor soul! </h2>
<form action="/play" method="get">
  <input type="text" name="user_name">
  <input type="submit" value="Register">
</form>
