<h3>Enter your name!</center></h3>

<form action="/play" method="post">
  <label for="Enter your name!">
    <input type="text" name="Enter your name!">
  </label>
  <input type="submit" value="Play!">
</form>
