<h1>Rock Paper Scissors!</h1>

<h3>Enter your name to play</h3>

<form action='/name' method='post'>
  <input type='text' name='name'>
  <input type='submit' value ='Submit'>
</form>

<h3>Have a friend? Try our multiplayer mode!</h3>

<form action='/multiplayer' method='post'>
  <label for="player_1_name">
    Player 1 name
    <input type="text" name="player_1_name">
  </label>
  <label for="player_2_name">
    Player 2 name
    <input type="text" name="player_2_name">
  </label>
  <input type='submit' value ='Play!'>
</form>