<form action="/names">
  <input type="text" name="player_one" placeholder="player one, enter your name">
  <input type="text" name="player_two" placeholder="player two, enter your name">
  <input type="submit" value="Submit">
</form>