<h1>Welcome to ROCK-PAPER-SCISSORS!</h1>
<h2>Please enter your name to play:</h2>
<form action="/name_input" method="post">
  <label for="player_name">
    <p>Player Name:</p>
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="PLAY!">
</form>