<center>
<h1> Welcome to the Rock, Paper, Scissors game</h1>
<h2>Please enter your name: </h2>
<form action="/add_name" method="post">
  <input type="text" name="player1_name">
  <button type="submit" name="go!">Go!</button>
</form>
</center>
