<form action='/names' method='post' >
  <input type="text" name="name1" placeholder="player 1" required>
  <input type="text" name="name2" placeholder="player 2">
  <input type="submit" value="Submit">
</form>