
<form action="/action_page" method="post">
        <p>Welcome to ROCK PAPER SCISSORS</p>
        <p>Please Enter your details:</p>
      <label for="fname">Your Name:</label><br>
      <input type="text" id="name" name="name" value=""><br>
      <input type="submit" value="Submit">
    </form>