<h1>Rock, Paper, Scissors<h1>
<form action="/registered" method="post">
  <input type="text" name="player_1" placeholder="Enter player name">
  <input type="text" name="player_2" value="The Cylons">
  <button type="submit" class="btn btn-dark">Play</button>
</form>