<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href= "/style.css" />
</head>


<h1>Rock Paper Scissors Lizard Spock</h1>
<h2>Please enter your name to play</h2>
<form action='/start' method='post'>
  <label for='name'>
    Your Name
    <input type='text' name='name'>
  </label>
  <input type='submit' value='Start'>
</form>
</html>