<link rel="stylesheet" type="text/css" href="/style.css"/>
<div id="allcontent">
  <h1>Rock Paper Scissors</h1>
  <h3>Enter name below to start:</h3>
  <form action="/names" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" size = "16" maxlength = "16">
    <input type="submit" value="Submit">
  </form>
</div>
