<h1> Let's get ready to rock, paper, scissors! </h1>
<h3> Register to play </h3>
<form action="/register" method="post">
  <label for="player_1_name">
    Please enter your name, marketeer
    <input type="text" name="player_1_name">
  </label>
  <input type="submit" value="Register">
</form>
