<%# <img src="../rock-paper-scissors-hand-icons.png" alt="" width="100" height="50">


<a href="https://www.vecteezy.com/free-vector/rock">Rock Vectors by Vecteezy</a> %>

<h1>Welcome to Rock, Paper, Scissors!</h1>
<h2>Enter your name below: </h2>

<form action="name" method="post">
  <input type = "text" name = "player_name">
  <input type = "submit" value = "Register my name">   
</form>
