<h1>Lets Play Rock, Paper, Scissors! </h1>
<h2>Sign in to play</h2>

<div>
  <img src='https://facts.net/wp-content/uploads/2020/11/rock-paper-scissors-730x487.jpg'>
  </div>

<form action="/names" method="post">
 <label for="player_name">
    Player Name
  <input type="text" name="player_name">
  <input type="submit" value="Submit">
</form>
