<html>
 <head>
  <title>RPS Game</title>
 </head>

 <h1>Welcome to Rock, Paper, Scissors!</h1>
 <h2>Sign in to play</h2>
  <form action="/names" method="post">
    <input type="text" name="player_name">
    <input type="submit" value="Let's go!">
  </form>

</html>
