<body>
  <div>
    <h1 style="font-family: helvetica">This is Rock, Paper, Scissors</h1>
  </div>
  
  
  <div id="user input">
    <div id="user input section title">
      <h3 style="font-family: helvetica">Enter your username</h3>
    </div>

    <form action="/players" method="post">
          <label for="player_name">Player One: </label>
          <input type="text" id="player_name" name="player_name">
          <input type="submit" value="Ready!">
    </form>
  </div>
</body>
