<h1>Rock Paper Scissors!!</h1>
<h2>Insert your name to play</h2>

<form action="/name" method="post">
  <label for="player1">
    What is your name player 1?
  </label>
    <input type="text" id="player1" name="player1">
  <label for="player2">
    What is your name player 2?
  </label>
  <input type="text" id="player2" name="player2">
  <input type="submit" value="submit">
</form>