<h1>Rock Paper Scissors !</h1>

<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT5NjO-ra0JRQmq224f0Tid1Go2Xx_9Vi2gomwmvYg09YCUUDka&usqp=CAU'>

<h2>Sign in to play</h2>
<form action="names" method="post">
  <label for="player_1_name">
    Player 1 name
    <input type="text" name="player_1_name">
    <input type="submit" value="Submit">
  </label>
  </form>



   