
<h1> Welcome to Rock, Paper, Scissors </h1>
<br>
<br>
<h3> Please enter your names : </h3><br>


<form action="/names" method="post">
<label for="name1"> Player 1: &nbsp</label>
<input type="text" name="name1"><br><br>
<label for="name2"> Player 2: &nbsp</label>
<input type="text" name="name2"><br><br>
<input type="submit" name="Submit"><br>
</form>
<br>



 
