<div class="centered-content">
  <h1>Game on!</h1>
  <h2>Rock | Paper | Scissors</h2>
  <form method="POST" action="/result">
    <h3>Enter your name:</h3>
    <input for= "name "name="name" id="name" placeholder="Your name" type="text">
    <h3>Click Rock, Paper, or Scissors:</h3>
    <input for="choice-rock" name="choice" class="button" id="rock-button" type="submit" value="Rock">
    <input for="choice-paper" name="choice" class="button" id="paper-button" type="submit" value="Paper">
    <input for="choice-scissors" name="choice" class="button" id="scissors-button" type="submit" value="Scissors">
  </form>
</div>
