<h1> Hello and welcome to the game of Rock, Paper, Scissors! </h1>
<br>
<br>
<br>
<h2> Please enter your name below and click submit to play. </h2>

<form method='post' action= '/name'>
  <input type="text" name='username'>
  <input type='submit' value="Submit">
  </form>
