<head>
  <link rel="stylesheet" href="<%= url('/style.css') %>">
</head>
<body class="background">
  <div class="content">
    <h1>Welcome!</h1>
    <form action="/play" method="post">
      <h2>Your Name:</h2>
      <input type="text" name="name1">
      <h2>Your Answer:</h2>
      <input list="answers" name="answer">
        <datalist id="answers">
          <option value="Rock">
          <option value="Paper">
          <option value="Scissors">
        </datalist>
      <p><input type="submit" name="submit"></p>
    </form>
  <div>
</body>