  <form action="/names" method="post">

      <label for="player_name"> 
      <h1 style="color:red">Rock, Paper & Scissors time! </h1> 
      Sign in to play:
      <input placeholder="name" type="text" name="player_name">
      </label>

      <input type="submit" value="Submit">

  </form> 