<style>
  .normal { 
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
    background-color:powderblue;     
  }
</style>


<body class="normal">
<h1 style="font-family:verdana">Welcome to Rock, Paper, Scissors!</h1>
<h2 style="font-family:verdana">Please enter your name</h2>
<form action="/name" method="post">
  <input type="text" name="player_name">
  <input type="submit" value="Submit">
</form>
</body>