<div class="player-details">
  <h1>Game on!</h1>
  <h2>Rock, Paper, Scissors</h2>
  <form method="POST" action="/result">
    <h3>Enter your name:</h3>
    <input for= "name "name="name" id="name" placeholder="Your name" type="text">
    <h3>Click one:</h3>
    <input for="choice" name="choice" class="submit" type="submit" value="Rock">
    <input for="choice" name="choice" class="submit" type="submit" value="Paper">
    <input for="choice" name="choice" class="submit" type="submit" value="Scissors">
  </form>
</div>