<head>
<link rel="stylesheet" href="<%= url('/style.css') %>">
</head>

<h1>Welcome to Rock, Paper, Scissors!</h1>
<form action="/play" method="post">
<input type="text" name="player" placeholder="Enter your name here">
<input type="submit" value="Play">
</form>