<!DOCTYPE html>
  <html>
    <head>
    </head>
    <body>
        <h1>Ready to play rock, paper, scissors?</h1>
        <br>
        <br>
        <h2>
            <form action="/name" method="POST">
            <label for="name" method="POST">Enter your name</label><br>
            <input type="text" name="first_name" id="name">
            <input type="submit" value="Submit">
        </h2>
    </body>
  </html>
