<h1>Rock, Paper, Scissors</h1>
<h3>Register to play</h3>

<form action="/players" method="post">
  Player One Name: <input type="text" name="player_one_name"> 
  <input type="submit" value="Register">
</form>
