<div style="text-align:center">
<h1>Rock, paper, scissors!</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="player_name">
    Player Name
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Submit">
</form>
<img src="https://pt.pokerdiscover.com/media/blog/2017/01/rock-paper-scissor-ft-1.jpg" class="img-fluid" style="max-width:20%;" alt="...">
</div>