<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="/style.css">
    <title>Rock, paper and scissors game</title>
  </head>
  <body>
    <h1 style="text-align:center">Hello there!</h1>
    <br>
    <form action="/name" id="theform" method="post">
      <p><h2>What's your name?</h2></p>
      <input id="align_middle" type="text" name="name"><br>
      <input id="align_middle" type="submit" value="submit">
    </form>
  </body>
</html>