To start a single player game vs the most sophisiticated AI known to man, please enter your name:<br><br>
<form action='/name' method='post'>
  <input type='text' name='player_1_name' placeholder='Enter your name'>
  <input type='submit' value='Submit'><br>
</form><br>

To play a two player game click the button below<br><br>
</form><form action="/two_player_game" method="get">
  <input type="submit" value="Two Player Game">
</form>