<link rel="stylesheet" type="text/css" href="style.css">
<h1> ROCK PAPER SCISSORS LIZARD SPOCK! </h1>
<body>
  <p> The image shown below demonstrates how to play the Rock Paper Scissors Lizard Spock variation of the game. </p>
  <p> The rules are the following:</p>
  <p> If you play the same character as your opponent it is a draw. </p>
  <p> Scissors cuts paper </p>
  <p> Paper covers rock </p>
  <p> Rock crushes lizard</p>
  <p> Lizard poisons Spock</p>
  <p> Spock smashes scissors</p>
  <p> Scissors decapitates lizard</p>
  <p> Lizard eats paper</p>
  <p> Paper disproves Spock</p>
  <p> Spock vaporizes rock</p>
  <p> Rock crushes scissors</p>

  <img src="RPSLS.png" alt="Game rules graphic" width="450" heigth="450">

  <form action="/">
    <input type="submit" value="Return to Main Menu">
  </form>
</body>

