<h1> ROCK PAPER SCISSORS LIZARD SPOCK! </h1>

<h3> The image below explains interactions between figures. </h3>
<h3> In case when you play same figure as your opponent, its' a draw; </h3>
<h3> i.e. Spock vs. Spock (blue icon) results in draw. </h3>
<h3> However, Spock beats Scissors (purple icon). </h3>

<img src="RPSLS.png" alt="Relations between figures" width="420" height="420">

<form action="/">
  <input type="submit" value="Back to Main Menu">
</form>
