<link rel="stylesheet" type="text/css" href="my.css"/>
<h1 > ROCK PAPER SCISSORS LIZARD SPOCK! </h1>
<body>
<h3> The image below explains interactions between figures. </h3>
<h3> In case you play the same figure as your opponent, it's a draw; </h3>
<h3> i.e. Spock vs. Spock (blue icon) results in draw. </h3>
<h3> However, Lizard (green icon) beats Spock. </h3>

<img src="RPSLS.png" alt="Relations between figures" width="420" height="420">

<form action="/">
  <input type="submit" value="Back to Main Menu">
</form>
</body>
