<body style='text-align:center; margin-top: 150px'>
<h1> Welcome to Rock Paper Scissors</h1> <br>
<h1> Player name: <%= @player_name %></h1> <br>
<form>
    <label for="move">
    Enter choice:
    <input type="text" name="move">
    </label>
</form>
</body>
