<img src="images/rockpaperscissors.jpg" alt="rock paper scissors images" width="450" height="200">

<h2><%= @player_name %>, you chose ROCK</h2>
<br>
<h2>The computer chose SCISSORS</h2>
<br>
<h1><%= @player_name.upcase %> WINS!</h1>