<div>
<h1 style="font-family: helvetica"> <%=@game.player_one.name%>, make your move! </h1>
</div>
<div id="rock/paper/scissors">
  <form action='/choice' method='post'>
    <input type="submit" name="select_move" value="Rock">
    <input type="submit" name="select_move" value="Paper">
    <input type="submit" name="select_move" value="Scissors">
  </form>
</div>