<link rel="stylesheet" type="text/css" href="my.css"/>
<h1> ROCK PAPER SCISSORS LIZARD SPOCK! </h1>

<h3> Name yourself players! </h3>

<form action="/names" method="post">
  <input type="text" name="player1" value="Player 1" required="required">
  <input style="width:60px" type="submit" value="Fight!">
  <input type="text" name="player2" value="Player 2" required="required">
</form>

<form action="/">
  <input type="submit" value="Back to Main Menu">
</form>
