Hi <%= @player_name %>, this is a webpage for playing rock, paper, scissors
<br>
You will choose either rock, paper or scissors and the computer will also make a random choice.
<br>
Rock beats scissors 
<br>
Scissors beats paper 
<br>
Paper beats rock
<br>
<a href="/play">Play</a>