Player name: <%= @player_name %>

<h2>Choose your move!</h2>
<form method="post" action="/choice">
  <label for="choice">
    <input type="submit" value="Rock">
  </label>
  <label for="choice">
    <input type="submit" value="Paper">
  </label>
  <label for="choice">
    <input type="submit" value="Scissors">
  </label>
</form>