<h2>Choose an option</h2>

<form action="Rock" method="post">
<label for="Rock">
Rock
<input type="submit" value="Play!">
</form>

<form action="Paper" method="post">
<label for="Paper">
Paper
<input type="submit" value="Play!">
</form>

<form action="Scissors" method="post">
<label for="Scissors">
Scissors
<input type="submit" value="Play!">
</form>
