<h1> <%= @player_name %> here are your options! </h1>
<style>
  body {
    background-color: azure;
  }
  h1 {
    background-color: white;
    }

  </style>

<body>
<p>Click an option and press submit!</p>

<form action="/names">
  <input type="radio" id="choice1" name="rps" value="rock">
  <label for="rock">ROCK</label><br>
  <input type="radio" id="choice2" name="rps" value="paper">
  <label for="paper">PAPER</label><br>
  <input type="radio" id="choice3" name="rps" value="scissors">
  <label for="scissors">SCISSORS</label>
  <input type="submit" value="submit">
</form>
</body>
