<% if @rock_option %>
  <h1> "You have picked <%= @rock_option %>"</h1>
<% end %>

<% if @paper_option %>
  <h1> "You have picked <%= @paper_option %>"</h1>
<% end %>

<% if @scissors_option %>
  <h1> "You have picked <%= @scissors_option %>"</h1>
<% end %>
