<head>
<link href="/stylesheet2.css" rel="stylesheet" type="text/css">
<title>Result</title>
</head>

<body>
<h1 ><%= @player_name %>, you picked: <%= @player_choice %></h1>
<h1>Your opponent picked: <%= @game_choice %></h1>

<% if @player_choice == @game_choice %>
  <h3>it's a draw!</h3>
<% end %>

<% if @score == 1%>
  <h3>You win!</h3>
<% end %>

<% if @score == 0%>
  <h3>You lose!</h3>
<% end %>

<p>play again?</p>
<a href="/play">
 <button type="button">Yes!</button> 
</a>
</body>