<h1>Your move: <%= @player_choice.value %></h1>
<h1>Computer's move: <%= @computer_choice.value  %></h1>
<h1><%= @result %></h1>
<form action='/play'>
  <input type='submit' value='Go again'>
</form>
<a href='/'>Home</a>