<img src='https://vignette.wikia.nocookie.net/spongebob/images/b/b7/The_Paper_014.png/revision/latest?cb=20191111160748' width="200" height="200">
<p> You chose paper </p>
<p> Computer chose <%= @opponent %> </p>
<p style="color:red;"> <%= @winner %> </p>
<p><a href=/play>Play again</a></p>
