<form action='/play'>
  <input type="radio" name = "pick" value="rock" required> Rock
  <input type="radio" name = "pick" value="paper"> Paper
  <input type="radio" name = "pick" value="scissors"> Scissors
  <input type="submit" value="Submit">
</form>