<h1>Welcome <%= @name %></h1>

<% if @move %>
<% end%>

<h4>Choose move</h4>
<form action="/move" method="post">
<input type="submit" name="move" value="Rock">
<input type="submit" name="move" value="Paper">
<input type="submit" name="move" value="Scissors">
</form>