<h1 class="display-2"><%= @player %> vs. The Cylons</h1>
<h2 class="display-5">Select your weapon!</h2>

<form action="/weapon" method="post">
  <button type="button" class="btn btn-danger">Rock</button>
  <button type="button" class="btn btn-warning">Paper</button>
  <button type="button" class="btn btn-info">Scissors</button>
</form>