<h1><%= @player1.name %> entered the game!</h1>
<form class="" action="/player1_choice" method="post">
<input type="submit" value="Rock" name="Rock">
<input type="submit" value="Paper" name="Paper">
<input type="submit" value="Scissors" name="Scissors">
</form>
