
<h1> Hello <%= @player_name %> and welcome to the Rock, Paper, Scissors game! </h1>

<h2> Please select your weapon from the following options. </h2>

<form action="/play" method="post">
  <input type="submit" id="rock" name="weapon" value="rock">
  <input type="submit" id="paper" name="weapon" value="paper">
  <input type="submit" id="scissors" name="weapon" value="scissors">
</form>

<% if @game %>

<h2>You selected <%= @player_weapon %></h2>

<h2>Computer selected <%= @computer_weapon %></h2>

<% if @game.draw? %>
<h1>You draw!</h1>

<% elsif @game.win? %>
<h1>You have won!</h1>

<% elsif @game.lose? %>
<h1>You have lost!</h1>

<% end %>

<% end %>
