<h1>Rock Paper Scissors<h1>
<h2>Click button to take turn</h2>
<form action="/game" method="POST">
  <input type="submit" value="Rock" name="action" />
  <input type="submit" value="Paper" name="action" />
  <input type="submit" value="Scissors" name="action" />
</form>
