
<p>Please enter your choice:</p>
<form action="/players_choice" method="post">
  <label for="player_selection">Rock, Paper or Scissors?</label>
  <input type ="text" name="player_selection">
  <input type ="submit" value="Submit">
</form>
