<h1>Welcome to RPS <%= @game.player.name %>!!!</h1>
<br>
<h2>Take your choice of weapon!!</h2>
<form action="/move">
<input type="submit" value="Rock">
</form>
 <input type="submit" value="Paper"> 
 
 <input type="submit" value="Scissors"> 