<h1>Welcome to RPS <%= @game.player.name %>!!!</h1>
<br>
<h2>Make your choice of weapon!!</h2>
<form action="/move">
<input type="submit" value="Rock">
</form>
<form action="/move">
 <input type="submit" value="Paper"> 
 </form>
 <form action="/move">
 <input type="submit" value="Scissors"> 
 </form>