
<html>
  <div>

  
  <div>
    <h1> Ok <%= @name1 %> let's play Rock, Paper, Scissors!</h1>
    <%# <h1> Player 2: <%= @name2 %> </h1>
  </div>
   <%# <form action="/names" method="post">%>
   <%#  <label  for="name"> Enter player names:</label><br>%>
   <%# <input type="text" name="player2_name" placeholder="Type your name" > %>
   <%# <input type="submit" value="Submit"> </form> %>
  <%# <input type="submit" value="Go!"> %>
  </div>
</html>