<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rock Paper Scissors Game</title>
</head>
<body>
    <div>
        <h1 align="left"><%= @player1 %></h1>
        <br>
        <h3 align="center">Vs.</h3>
        <br>
        <h2 align="right">Computer</h2>
    </div>
    <br>
    <br>
    <div align="center">
        <form>
           <input id="rock" name="rock" type="button" value="Rock">
           <input id="paper" name="paper" type="button" value="Paper">
           <input id="scissors" name="scissors" type="button" value="Scissors">
        </form>
    </div>
</body>
</html>
