<h1><%= @player_name %> vs. Computer</h1>

<h2>Select your choice:</h2>
<form action='/choice_handler'>
  <input id ="Rock"type="submit" name="player_choice" value="Rock" />
  <input id="Paper" type="submit" name="player_choice" value="Paper" />
  <input id="Scissors" type="submit" name="player_choice" value="Scissors" />
</form>