<h1> <%=@name%> vs bot </h1>


<form action="/turn" name ="rock" method="POST">
  <input type="submit" name ="button" value="rock">
</form>
<form action="/turn" name ="paper" method="POST">
  <input type="submit" name="button" value="paper">
</form>
<form action="/turn" name ="scissors" method="POST">
  <input type="submit" name="button" value="scissors">
</form>

