<h2>What'll it be, <%= @player.name %>?</h2>
<form action="/choice" method="post">
  <input type="submit" value="Rock" name="choice">
  <input type="submit" value="Paper" name="choice">
  <input type="submit" value="Scissors" name="choice">
</form>