<h1><%= @player1 %> VS Computer</h1>

<form action="/result" method="post">

  <label for="Rock">Rock</label>
  <input type="radio" id="1" name="move" value="Rock">
  <label for="Paper">Paper</label>
  <input type="radio" id="2" name="move" value="Paper">
  <label for="Scissor">Scissor</label>
  <input type="radio" id="3" name="move" value="Scissor"><br><br>
  <button type="submit" value="submit">Submit</button>
  
</form>