<h1> <%= @user_name %> vs Computer! </h1>
<h3><STRONG> <%= @user_name %>, please select one: </STRONG></h3>
<form action="/choice" method="post">
<INPUT type="radio" name="user_choice" value="rock" id="rock">ROCK
<INPUT type="radio" name="user_choice" value="paper" id="paper">PAPER
<INPUT type="radio" name="user_choice" value="scissors" id="scissors">SCISSORS
<br>
<br>
<input type="submit" value="Submit" name = "submit_button">
</form>

