  <p1> Choose your weapon <%= @player_name.capitalize %> </p1>
      <br>
      <br>
      <br>
   <form action="/result" method="post">
        <input id="rock" type="submit" name="player_weapon" value="rock">
  </form>
          <br>
       <form action="/result" method="post">
        <input id="paper" type="submit" name="player_weapon" value="paper">
      </form>
        <br>
      <form action="/result" method="post">
        <input id="scissors" type="submit" name="player_weapon" value="scissors">
      </form>
