<h3>Welcome <%= @player_1.name %> </h3>
<p>Please choose one of the following options</p>
  <form action='/player-2-choice'>
    <input type='submit' name='choice' value ='Rock'>
    <input type='submit' name='choice' value ='Paper'>
    <input type='submit' name='choice' value ='Scissors'>
  </form>