Hello <%= @name %>
<br>
<label>Rock, Paper or Scissors?</label>
<form action="/result" id="user_choice" method="post">
  <label for="rock">Rock</label>
    <input type="radio" id="rock" name="user_choice" value="rock">
  <label for="paper">Paper</label>
    <input type="radio" id="paper" name="user_choice" value="paper">
  <label for="scissors">Scissors</label>
    <input type="radio" id="scissors" name="user_choice" value="scissors">
  <br>
  <input type="submit" value="Play">
</form>