<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hi, <%= @player %>! | Rock, Paper, Scissors</title>
</head>
<body>
  <h2><%= @player.nil? ? "Stranger" : @player %>, please, choose one:</h2>
  <form action="/choose" method="post">
    <input type="radio" name="move" value="rock" id="rock" checked />
    <label for="rock">Rock</label>

    <input type="radio" name="move" value="paper" id="paper" />
    <label for="paper">Paper</label>

    <input type="radio" name="move" value="scissors" id="scissors" />
    <label for="scissors">Scissors</label>

    <input type="submit" value="choose" />
  </form>
</body>
</html>