<h1>Welcome, <%= @player_1_name %>!</h1>
<h2>Please choose your move</h2>
<form action='/select' method='post'>
  <input type="radio" id="rock" name="selection" value="rock">
  <label for="rock">Rock</label><br>
  <input type="radio" id="paper" name="selection" value="paper">
  <label for="paper">Paper</label><br>
  <input type="radio" id="scissors" name="selection" value="scissors">
  <label for="scissors">Scissors</label>
  <input type="submit", value="Submit">
</form>