<%= @player_1 %> welcome, choose your weapon
<br>
<label for="Rock">Rock</label>
<input type="radio" name="move" value="Rock">
<label for="Paper">Paper</label>
<input type="radio" name="move" value="Paper">
<label for="Scissor">Scissor</label>
<input type="radio" name="move" value="Scissor">
<button type="submit" value="Submit">
