<%= @name %>

<h2>Choose</h2>  
<form action='/play' method="post">
  <label for="rock">
    <input type="submit" name="weapon" value="Rock" > Rock 
  </label>
  <label for="paper">
    <input type="submit" name="weapon" value="Paper" > Paper
  </label>
  <label for="scissors">
    <input type="submit" name="weapon" value="Scissors" > Scissors
  </label> 
</form>