<h2><%=@name%> is playing Rock-Paper-Scissors</h2>
<br>
<br>
<br>

<% if @option %>
  <h4>You picked <%= @option%>
<% else %>
  <h4>Pick one option:</h4>
  <form action="/option" method="POST">
    <input type="submit" name="option" value="ROCK">
  </form>
  <form action="/option" method="POST">
    <input type="submit" name="option" value="PAPER">
  </form>
  <form action="/option" method="POST">
    <input type="submit" name="option" value="SCISSORS">
  </form>
<% end %>
