<style>
  body { background-color: #ADD8E6;
		text-align: center;
		font-family: Helvetica;
		color: #003E3F;
		padding-top: 200px
		}

  h1 { font-size: 50px }
  h2 { font-size: 30px }
</style>



<h1><%= @player %> vs. Computer</h1>

<h2>Choose wisely!</h2>
<form action='/result' method='post'>
  <button type=submit id="rock" name="rock" onclick="myFunction()"><img width="300px" height="300px" src="https://nationaltoday.com/wp-content/uploads/2021/08/National-Pet-Rock-Day-640x514.jpg"></button>
<button type="submit" id="paper" name="paper" onclick="myFunction()"><img width="300px" height="300px" scr="https://i.etsystatic.com/14729573/c/1464/1162/0/0/il/8375c6/1679154432/il_340x270.1679154432_13fi.jpg"></button>
<button type="submit" id="scissors" name="scissors" onclick="myFunction()"><img width="300px" height="300px" scr="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Pair_of_scissors_with_black_handle%2C_2015-06-07.jpg/2457px-Pair_of_scissors_with_black_handle%2C_2015-06-07.jpg"></button>
</form>

