<h1>Player is <%= @player.name %>, Enjoy the game</h1>

<h2>Please pick Rock, Paper or Scissors</h2>

<form action=/choice_rock method="post">
  <input type="submit" name="" value="Rock">
</form>

<form action=/choice_paper method="post">
  <input type="submit" name="" value="Paper">
</form>

<form action=/choice_scissors method="post">
  <input type="submit" name="" value="Scissors">
</form>
