<h1> <%= @player_1_name %> </h1>


<button type="button" onlick="alert('Rock was chosen')">Rock!</button>
<button type="button">Paper!</button>
<button type="button">Scissors!</button>

<button style="background-color:blue">
I am a blue button!
</button> 

<input type="button" style="background-colour"