<h1>
<%= @PlayerName%> vs Computer 
</h1>
<hr style="width:50%;text-align:left;margin-left:0">
<br>
<h2> <%= @PlayerName%>, your move!</h2>
<br>
<form action= '/player_move' method='post'>
  <input type='submit' value='Rock' name="PlayerMove">
  <input type='submit' value='Paper' name="PlayerMove">
  <input type='submit' value='Scissors' name="PlayerMove">
</form>
