<h1>Rock, Paper, Scissors</h1>
Player: <%= @player_name %>
<form action="/weapon" method="post">
  Choose your weapon:
  <input type="text" name="choice" placeholder="rock, paper or scissors">
  <input type="submit" name="Submit">
</form>