<h1>Welcome <%= @player %>!!!</h1>

<p> Lets Play Rock Paper Scissors :</p>

<form action ='/play' method ='post'>

<label for="game"> Pick your choice:</label>
<select>
  <input name= "choice" type="submit" value = "Rock">Rock</input>
  <input name= "choice" type="submit" value = "Paper">Paper</input>
  <input name= "choice" type="submit" value = "scissors">Scissors</input>
</select>
</form>


<h1> You have picked <%= @choice %>, WELL DONE!!!</h1>






