<h1>---------------------------------------------------------------------------------------------------</h1>
<h1> Hi <%= @player1.name %>! Do you want to play Rock, Paper or Scissors? </h1>
<h1>---------------------------------------------------------------------------------------------------</h1>
