<center>
<h1>
 <%=@player_1%> Vs RUBY! </br>
 </br>

Please Choose: </br>
Rock, Paper or Scissors 

<form action="/play" method="post">
  <button name="user_answer" type="submit" value="Rock">Rock</button>
  <button name="user_answer" type="submit" value="Paper">Paper</button>
  <button name="user_answer" type="submit" value="Scissors">Scissors</button>
</form>


</center>
</h1> 

