<h1>
	Hello <%= @player.capitalize %> it is you vs. <%= 'Computer' %>
</h1>

<h2> Best hand wins: Rock, Paper or Scissors!</h2>
<h3> Rules </h3>
<h4> Rock beats scissors</h4>
<h4> Scissors beats paper</h4>
<h4> Paper beats rock </h4>
