<h1> Prepare... for an epic battle!</h1>
Hi <%= @username %>!
<h4> Choose a weapon. Choose wisely!<h4>
  <form action="/game_over" method="get">
    <input type="submit" value="Rock" name="weapon">
    <input type="submit" value="Paper" name="weapon">
    <input type="submit" value="Scissors" name="weapon">
  </form>
