<style>

  .content{
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
  }
  .title {
    padding-left: 80px;
  }
  .buttons {
    padding-left: 120px;
  }
</style>
<body style="background-color: hsla(120, 100%, 50%, 0.3);">
<div class="content">
<div class="title"> <h1> <%= @player_1_name %> vs Computer </h1> </div>
<h1> Please make your choice below </h1> 
<div class="buttons"><form action="/rock" method="get" >
  <input type="submit" value="Rock">

<form action="/paper" method="get">
  <input type="submit" value="Paper">

<form action="/scissors" method="get">
  <input type="submit" value="Scissors">
</form></div>
</div>
</body>