<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rock Paper Scissors</title>
</head>
<body>
  
<h1>Let's play, <%= @player_name %>. Choose rock, paper or scissors. </h1>

<form action="/player_turn" method="POST">
  <input type="submit" name="player_turn" value="Rock">
  <input type="submit" name="player_turn" value="Paper">
  <input type="submit" name="player_turn" value="Scissors">
</form>
</body>
</html>