<h1> <%= @player_1_name %> vs Computer </h1>

<form action="/rock" method="get">
  <p> Rock </p><input type="submit" value="Rock">
</form>
<form action="/paper" method="get">
  <p> Paper </p><input type="submit" value="Paper">
</form>
<form action="/scissors" method="get">
  <p> Scissors </p><input type="submit" value="Scissors">
</form>
