
<!DOCTYPE hmtl>
<html>
  <head>
<link rel="stylesheet" href="styles1.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id="player_1">
      <h1> Hello <span style="color: yellow"><%= @player_name %></span>, choose your bet:</h1>
    </div>

    <div class='options'>
      <form action="/result" method="post">
        <input id="rock" type="submit" name="player_choice" value="rock">
      </form>

      <form action="/result" method="post">
        <input id="paper" type="submit" name="player_choice" value="paper">
      </form>

      <form action="/result" method="post">
        <input id="scissors" type="submit" name="player_choice" value="scissors">
      </form>
    </div>
  </body>
</html>