<h1>Welcome to the game, <%= @player_one.name %></h1>
<br />
<form action='/result'>
<input type='hidden' name='rock' value='rock'>
  <input type='submit' value='rock'>
</form>

<form action='/result'>
<input type='hidden' name='paper' value ='paper'>
  <input type='submit' value='paper'>
</form>

<form action='/result'>
<input type='hidden' name='scissors' value='scissors'>
  <input type='submit' value='scissors'>
</form>