 <div>
 <%= @player_name%> vs. Computer 
 <form action="/decision" method="post">
   <label for="choice">Enter your choice:</label>
   <input type="text" name="choice">
   <input type="submit" value="Submit">
 </form>
 </div>
 
