<h1><%= @player %> vs. Computer</h1>

<h2>Choose wisely!</h2>
<form action='/result' method='post'>
  <button type=submit id='rock' name='rock' onclick="myFunction()"><img src="https://nationaltoday.com/wp-content/uploads/2021/08/National-Pet-Rock-Day-640x514.jpg"></button>
<button type="submit" name='paper'>Paper</button>
<button type="submit" name='scissors'>Scissors</button>
</form>

