<html>
  <head>
      <title>Rock Paper Scissors</title>
      <link href="<%= url("/styles.css") %>" rel="stylesheet" type="text/css" />
  </head>
  <body class="container">
    <section>
      <h1>Are you ready to play, <%= @player1 %>?</h1>
    </section>
    <form action ="/rps-game" method="get" class="container">
      <button class="container"><span>Let's Play!</span></button>
    </form>
  </body>
</html>