<%=@game.players[0].name%> vs CPU<br>
<form action="/whowon" method="post">
<button name="choice" value="Rock" >Rock</button>
<button name="choice" value="Paper" >Paper</button>
<button name="choice" value="Scissors" >Scissors</button>
</form>