<h2><%=@name%> is playing Rock-Paper-Scissors</h2>
<br>
<br>
<br>
<h4>Pick one option:</h4>
<form action="/rock" method="POST">
  <input type="submit" value="ROCK">
</form>
<form action="/paper" method="POST">
  <input type="submit" value="PAPER">
</form>
<form action="/scissors" method="POST">
  <input type="submit" value="SCISSORS">
</form>