<header>
  Make your move <%= @name %>:
</header>

<br>

<form action="/submit" method="post">
  <select name="move">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
    <input type="submit" value="Submit">
  </select>
</form>
