<img src="images/rockpaperscissors.jpg" alt="rock paper scissors images" width="450" height="200">

<h1>Hello, <%= @player_name %>!</h1>
<h2>Please choose your move:</h2>

<form action="move_rock" method="post">
  <input type = "submit" value = "ROCK">
</form>

<form action="move_paper" method="post">
  <input type = "submit" value = "PAPER">
</form>

<form action="move_scissors" method="post">
  <input type = "submit" value = "SCISSORS">
</form>