<header>
  Make your move <%= @name %>:
</header>

<br>

<form action="/play" method="post">
    <input type="submit" name="move" value="Rock">
    <input type="submit" name="move" value="Paper">
    <input type="submit" name="move" value="Scissors">
</form>

<header>
  You chose <%= @move %>!
</header>
