<h1> Welcome <%= @player_name %>! <h1>

<form action='/outcome' method='post'>
  <input type='submit' id='rock' name='player_choice' value='Rock'>
  <input type='submit' id='paper' name='player_choice' value='Paper'>
  <input type='submit' id='scissors' name='player_choice' value='Scissors'>
</form>