<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="/style.css">
    <title>Rock, paper and scissors game</title>
  </head>
  <body>

    <h1 style="text-align:center">Hello <%= @name %>!</h1>
      </div>
    </form>
  </body>
</html>