<h1><%= @player2.name %> entered the game!</h1>
<form class="" action="/player2_choice" method="post">
<input type="submit" value="Rock" name="Rock1">
<input type="submit" value="Paper" name="Paper1">
<input type="submit" value="Scissors" name="Scissors1">
</form>
