<h1><%=@name%>: welcome to the RPS game </h1> <br>
<form action="/choice" method="post">

  <label for="player_choice"> 
  <h2>Rock, Paper or Scissors? </h2> 
  Type your choice:
  <input placeholder="choice" type="text" name="player_choice">
  </label>

  <input type="submit" value="Submit">

</form> 