<%= @player %> vs. The Cylons

<form action="/weapon" method="post">
  <button type="button" class="btn btn-danger">Rock</button>
  <button type="button" class="btn btn-warning">Paper</button>
  <button type="button" class="btn btn-info">Scissors</button>
</form>