<!DOCTYPE html>
  <html>
    <head>
    </head>
    <body>
      <%= @player_name %> vs. Computer

    <p>Make your selection: Rock, Paper or Scissors</p>  

      <form action="/result">
        <input type="submit" value="Rock">
        <input type="submit" value="Paper">            
        <input type="submit" value="Scissors">
      </form>
      
    </body>
  </html>
