<%= @player_name %> vs. Computer

Please click on the move you would like to make:

<form method="POST" action="/play">
  <input type="submit" name="move" value="Rock">
  <input type="submit" name="move" value="Paper">
  <input type="submit" name="move" value="Scissors">
</form>

You chose <%= @move %>
