Hello <%= @player_1_name %>. Welcome to Rock Paper Scissors. Lets Play!

<p> Select your move!

<p>
  <form action="/rock" method="post">
  <label for="player_1_Rock">
    </label>
  <input type="submit" value="Rock">
</form>
</p>

<p>
  <form action="/paper" method="post">
  <label for="player_1_paper">
    </label>
  <input type="submit" value="Paper">
</form>
</p>

<p>
  <form action="/scissors" method="post">
  <label for="player_1_paper">
    </label>
  <input type="submit" value="Scissors">
</form>
</p>
