<head>
<link href="/stylesheet.css" rel="stylesheet" type="text/css">
<title>Play</title>
</head>

<body class="normal">
<h1><%= @player_name %></h1>

<form action="/player_choice" method="post">
  <button name="player_choice" type="submit" value="Rock">Rock</button> 
  <button name="player_choice" type="submit" value="Paper">Paper</button> 
  <button name="player_choice" type="submit"value="Scissors">Scissors</button> 
</form>
</body>