<h1>Welcome <%= @player %>!!!</h1>

<p> Lets Play Rock Paper Scissors :</p>

<form action ='/picked_choice' method ='post'>

<label for="game"> Pick your choice:</label>
<select>
  <option value="rock">Rock</option>
  <option value="paper">Paper</option>
  <option value="scissors">Scissors</option>
  <input type="submit" value="Submit">
</select>
</form>







