<h2>Welcome <%= @name %>!</h2>
<h3>Time to play Rock, Paper, Scissors </h3>
<h4> Select one option:</h4>
<form action='/play-game' method='post'>
  <input type='radio' name='game' value='Rock'>
  <label for='Rock'>Rock</label><br>
  <input type='radio' name='game' value='Paper'>
  <label for='Paper'>Paper</label><br>
  <input type='radio' name='game' value='Scissors'>
  <label for='Scissors'>Scissors</label><br>
  <input type='submit' value='Play!'>
</form>