<form action="/result" method="post">
Choose your weapon
<div>
  <input type="radio" id="rock" name="weapon" value="rock"
         checked>
  <label for="rock">Rock</label>
</div>

<div>
  <input type="radio" id="paper" name="weapon" value="paper">
  <label for="paper">Paper</label>
</div>

<div>
  <input type="radio" id="scissors" name="weapon" value="scissors">
  <label for="scissors">Scissors</label>
</div>
 <div>
    <button type="submit">Submit</button>
  </div>
</form>