<form action="/choice" method="post">
 <h1> LETS GO </h1>
    <p> Player: <%= $player_name %> </p>

    <p> Rock, paper or scissors? </p>

        <label for="player_choice">
            Choice
            <input type="text" name="player_choice">
        </label>
        <input type="submit" value="Submit">
    </form>


