<h2><%=@game.player.name%> choose your move!</h2>
<form method="post" action="/move" id="move_form">
    <button type=submit name="move" value="Rock">Rock</button>
    <button type=submit name="move" value="Paper">Paper</button>
    <button type=submit name="move" value="Scissors">Scissors</button>
</form>