<%= @player_name %>, choose your weapon!!
<br>
<input type="radio" id="Rock" value="Rock">
<label for="Rock">Rock</label><br>
<input type="radio" id="Paper" value="Paper">
<label for="Paper">Paper</label><br>
<input type="radio" id="Scissors" value="Scissors">
<label for="Scissors">Scissors</label>
