<h1>Choose:</h1>
<a href="/play?choice=rock"><button type="button" >Rock</button></a>
<a href="/play?choice=paper"><button type="button" >Paper</button></a>
<a href="/play?choice=scissors"><button type="button" >Scissors</button></a>

<%# 
<h1>Results:</h1>
for @play in @plays
   



if @endResult
    show who won %>




<%# <label for="rock">Rock:</label>
<input type="text" id="rock" rock="rock"> %>