<h1>Rock, Paper, Scissors</h1>
<hr>
<h2>Welcome <%= @player_name %>!</h2>
<br>
<h3>Choose Rock, Paper or Scissors:</h3>

<form action="/battle" method="post">
<input type="submit" name="button1" value="Rock">
<input type="submit" name="button2" value="Paper">
<input type="submit" name="button3" value="Scissors">
</form>
