<h1><%= @player_1_name %> choose a move!</h1>

<form action="/winner" method="post">
  <button type="submit" name="player_1_move" value="Rock">Rock</button>
</form>

<form action="/winner" method="post">
  <button type="submit" name="player_1_move" value="Paper">Paper</button>
</form>

<form action="/winner" method="post">
  <button type="submit" name="player_1_move" value="Scissors">Scissors</button>
</form>
