<h1>---------------------------------------------------------------------------------------------------</h1>
<h1> Hi <%= @player1.name %>! Do you want to play Rock, Paper or Scissors? </h1>
<h1>---------------------------------------------------------------------------------------------------</h1>
<form action="/startgame">
<input type="submit" value="Start Game">
</form>