<h1><%= @player_name %> vs Computer</h1>

<form action='/result' method='post'>
  <select name='user_choice' id='user_choice'>
    <option value='rock'>rock</option>
    <option value='paper'>paper</option>
    <option value='scissors'>scissors</option>
  </select>
  <input type='submit' value='Play'>
</form>