<h1>Get ready to play, <%= @player_name %>! </h1>
<h2>Rock, Paper or Scissors?</h2>

<form action='/play' method='post'>
  <input type='submit' name='choice' value='Rock'>
  <input type='submit' name='choice' value='Paper'>
  <input type='submit' name='choice' value='Scissors'>
</form>