 <div>
 <%= @player_name%> vs. Computer
 <form action="/decision" method "post">
   <label for="choice">Enter your choice:</label>
   <input type="text">
   <input type="submit" value="Submit">
 </form>
 </div>
