<h1><%= @player %></h1>
<form action='/move' method='post'>
    <label>Pick your move: </label><br>
        <input type='radio' name='move' value='rock'>
        <label for='rock'>rock</label><br>
        <input type='radio' name='move' value='paper'>
        <label for='paper'>paper</label><br>
        <input type='radio' name='move' value='scissors'>
        <label for='scissors'>scissors</label><br>
    <input type='submit' value='submit'>
</form>


