<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rock Paper Scissors Game</title>
</head>
<body>
    <div>
        <h1 align="left"><%= @player1 %></h1>
        <br>
        <h3 align="center">Vs.</h3>
        <br>
        <h2 align="right">Computer</h2>
    </div>
    <br>
    <br>
    <div align="center">
        <form action="/result" method="post">
            <label for="choose">What is your Choose <%= @player1 %>?</label>
            <input type="text" id="choose" name="choose">
            <input type="submit" value="Start">
        </form>
    </div>
</body>
</html>
