<h1> Welcome, <%= @name %>. </h1>
<br>
<h2> Choose your play: </h2>


<form action='/endgame' method='post'>
  <input type='submit' name="player_choice" value='Rock'>
  <input type='submit' name="player_choice" value='Paper'>
  <input type='submit' name="player_choice" value='Scissors'>
</form>
