<html>
<body>

<h1><%= @player_name %>, please choose your weapon!</h1>

<h2>
<span style='font-size:100px;'>&#9994;&#127996;</span>
<span style='font-size:100px;'>&#9995;&#127996;</span>
<span style='font-size:100px;'>&#9996;&#127996;</span>
</h2>

<button type="button" onclick="alert('You Win')">Rock</button>
<button type="button" onclick="alert('You Win')">Paper</button>
<button type="button" onclick="alert('You Win')">Scissors</button>
 
</body>
</html>