
<h1>OK, <%= @player.player_name %>, let's play!
Choose your weapon!</h1>

<form>
  <input type="radio" id="rock" name="rock" value="rock">
  <label for="rock">Rock</label>
  <input type="radio" id="paper" name="paper" value="paper">
  <label for="paper">Paper</label>
  <input type="radio" id="scissors" name="scissors" value="scissors">
  <label for="scissors">Scissors</label>
  </form>
