
<form method="get" action="/play">
  <h1>Choose your first move:</h1>
    <form method="get" action="/play">
    <input type="submit" value="Rock">
    <input type="submit" value="Paper">
    <input type="submit" value="Scissors">
</html>

