<h1> <%= @player_1_name %> </h1>


<form action="/player_chose" method="post">
  Choose one to play:
  <button name="players_choice" type="submit" value="Rock">Rock</button>
  <button name="players_choice" type="submit" value="Paper">Paper</button>
  <button name="players_choice" type="submit" value="Scissors">Scissors</button>
</form>
