<div>
Are you ready, <%=@game.player1.name%>?<br><br>
</div>

<form action='/options' method='post'>
<fieldset>
  <legend>Choose your preference</legend>
<div>
        <label for="rock">Rock</label>
    <input type="radio" name="game" value="1">
        <label for="rock">Paper</label>
    <input type="radio" name="game" value="2">
        <label for="rock">Scissors</label>
    <input type="radio" name="game" value="3"><br><br>
</div>
<div>
    <button type="submit">Go!</button>
</div>
</fieldset>
</form>