<h1> Welcome : <%= @player_1 %> </h1>

<h2>enter :  rock, paper or scissors to play! </h2>


<form action="/result" method="post">
    <label for="name">
        <input type="text" name="name">
    </label>
    <input type="submit" value="Submit">
</form>


