Hello <%= @name %>
<br>
<label>Rock, Paper or Scissors?</label>
<form action="/result" method="post">
  <label>Rock</label>
    <input type="radio" id="choice" value="Rock">
  <label>Paper</label>
    <input type="radio" id="choice" value="Paper">
  <label>Scissors</label>
    <input type="radio" id="choice" value="Scissors">
  <br>
  <input type="submit" value="Play">
</form>