Hello <%= @player_name %>, what will you choose?
<form action="/throw" method="post">
  <input type="submit" id="rock" name="throw" value="Rock" >
  <input type="submit" id="paper" name="throw" value="Paper" >
  <input type="submit" id="scissors" name="throw" value="Scissors" >
</form>
