<%= @player_1_name %> VS <%= @player_2_name %>

<form action="/computation" method="post">
  <label for="player_1_move">
    What is your move <%= @player_1_name %>
  </label>
    <input type="text" id="player_1_move" name="player_1_move">
  <label for="player_2_move">
    What is your move <%= @player_2_name %>
  </label>
  <input type="text" id="player_2_move" name="player_2_move">
  <input type="submit" value="submit">
</form>