<form action="/names">
  <input type="text" name="player_one" placeholder="player one name">
  <input type="text" name="player_two" placeholder="player two name">  
  <input type="submit" value="Submit">
</form>