
<style>
  form {text-align: center;}
  p {text-align: center;}
</style>

<h1 style="text-align: center; font-family: Courier"> REGISTER TO PLAY </h1>

<%if !$solo && !$multiplayer %>

<p style="font-family: American Typewriter;">Player 1:</p>

<label for="player1_name">

  <form action="/player" method="get">
    <input type="text" name="player1_name">
    <input type="submit" value="add player" id="add player" >
  </form>

</label>

<div style="border: 3px dashed silver; position: absolute; top: 78.5%; left: 68%;">
  
  <p> Game Type:<p>

  <form style="display: inline;" action="/solo" method="post">
    <input style="background-color: Silver;"type="submit" value="SOLO" id="SOLO">
  </form>

  <form style="display: inline;" action="/multiplayer" method="post">
    <input type="submit" value="MULTIPLAYER" id="MULTIPLAYER">
  </form>

</div>

<% elsif $solo && !$multiplayer %>

<p style="font-family: American Typewriter;">Player 1:</p>

<label for="player1_name">

  <form action="/player" method="get">
    <input type="text" name="player1_name">
    <input type="submit" value="add player">
  </form>
  
</label>

<div style="border: 3px dashed silver; position: absolute; top: 78.5%; left: 68%;">
  <p> Game Type:<p>

  <form style="display: inline;" action="/solo" method="post">
    <input style="background-color: Silver;"type="submit" value="SOLO" id="SOLO">
  </form>

  <form style="display: inline;" action="/multiplayer" method="post">
    <input type="submit" value="MULTIPLAYER" id="MULTIPLAYER">
  </form>

</div>



<% elsif !$solo && $multiplayer %>



<label for="player1_name">
  <div style= "position: absolute; top: 10%; right: 43%">
  <p style="font-family: American Typewriter">Player 1:</p>
    <form action="/players" method="get">
      <input type="text" name="player1_name">
      <p style= "font-family: American Typewriter;">Player 2:<p>
      <input type="text" name="player2_name">
      <input style="position: absolute; top: 100%; right: 25%"type="submit" value="add players">
    </form>
  </div>
</label>

<div style="border: 3px dashed silver; position: absolute; top: 78.5%; left: 68%;">
  
  <p> Game Type:<p>

  <form style="display: inline;" action="/solo" method="post">
    <input type="submit" value="SOLO" id="SOLO">
  </form>

  <form style="display: inline;" action="/multiplayer" method="post">
    <input style="background-color: Silver;" type="submit" value="MULTIPLAYER" id="MULTIPLAYER">
  </form>

</div>

<%end%>

