<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rock Paper Scissors | Enter Name</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <h1>Result: <%= @result %></h1>
  <h3>You Picked:  <%= @player.choice %> </h3>
  <h3>Computer Picked: <%= @computer_choice %></h3>

  <a href='/play'>Play Again<a>
  <a href='/'>Quit<a>
</body>
</html>