Your choice: <%= @player1 %>  ||||                           Computer Choice: <%= @computerplayer %>
<h1>---------------------------------------------------------------------------------------------------</h1>

<%= @result.decisionengine %>

