<!DOCTYPE html>
  <html>
    <head>
    </head>
    <body>
      <%= @player_name %>, you chose Rock.
      <%= @player_name %>, you chose Paper.
      <%= @player_name %>, you chose Scissors.

    </body>
  </html>
