
Your choice was <%= @player_choice %>
<br>
Computer choice was <%= @computer_choice %>
<br>
<br>
(whoever) wins!

Wanna play again?
<form action="/play" method="get">
  <input type="submit" value="Yes please!">
</form>
