<div style= "font-family: Tahoma, sans-serif; background: rgb(238,213,174);
background: radial-gradient(circle, rgba(238,213,174,1) 9%, rgba(162,148,233,1) 97%)">
</br>
<center>
<h2> Result </h2>
<h3> <%= @player_weapon %> vs <%= @computer_weapon %> </h3>
<center>
</br>
</div>


