<body style = 'background-color: DeepSkyBlue;'>
<br><br><br><br><br>
<center><h1><%= @name %> you picked <%= $players_choice %></center>
<center><h1>Computer you picked <%= $computers_choice %></center>
<center><h1><%= @Winner %> wins!</h1></center>
</body>