<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
        <title> "RPS Game" </title>
        <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
      <div class="container">
        <center>
        <div class="menu">
        <ul>
          <li>Result</li>
        </ul>
        </div>
        
        <div class="app-text">
          <% if @round.result == "draw" %>
          <p> Draw </p>
          <% elsif @round.result == "win" %>
          <p> Congrats <%=@name%>, you won! </p>
          <% elsif @round.result == "lose" %>
          <p> Lose </p>
          <% end %>

        </div>


        </center>
      </div>
  </body>
</html>