<= @result =>
<div class = "winner">
<h2> <%= @winner %> </h2>
</div>
<div class = "choice">
<p> <%= @player_1_name %> you picked <%= @player_attack %> </p>
</div>
<div class = "choice">
<p> RPS you picked <%= @bot_attack %> </p>
</div>

