<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @player_1 %> chose <%= @player_1_choice %>,  <%= @player_2 %> chose <%= @player_2_choice %>
  </body>
</html>
