<h2> Result </h2>
<%# show player versus computer selections - computer weapon to be added %> 
<h2> <%= @player_weapon %> vs <%= @computer_weapon %> </h2>
<%#tell the player if he wons or lost - logic to be added %> 
<h1> <%= @result %> </h1>

