<p class="result">You entered: <%=@player_choice%></p>
<p class="result">Computer entered: <%=@computer_choice%></p>

<% if @winner == "Draw" %>
<p class="result">It's a draw!</p>

<% else %>
<p class="result"><%=@winner%> wins!</p>

<% end %>

<form method="get" action="/game">
  <input value="Play again!" type="submit">
</form>