<h1>Result: <%= "#{@player_name} #{@result}"%></h1>
<h2> <%= "#{@player_name} chose #{@player_hand}"%></h1>
<h2> <%= "Computer chose #{@computer_hand}"%></h1>


<form method="get" action="/play">
    <button type="submit">Play Again</button>
</form>

