<div>
    <img src='https://vignette.wikia.nocookie.net/spongebob/images/4/45/Pete_the_rock.png/revision/latest?cb=20141115223905' width="200" height="200">
   </div>
<p> You chose rock </p>
<p> Computer chose <%= @opponent %> </p>
<p style="color:red;"> <%= @winner %> </p>
<p><a href=/play>Play again</a></p>
