<head>
  <style>
    body {
      text-align: center;
      background: black;
      color: white;
      font-family: helvetica;
    }
  </style>
</head>
<h1><%= "You have picked #{@player_picked}" %></h1>
<h3><%= "#{@winner}" %></h3>
<h2><%= "The computer has picked #{@computer_picked}" %></h2>
