<head>
  <style>
    body {
      text-align: center;
      background: black;
      color: white;
      font-family: helvetica;
    }
  </style>
</head>
<h1>You have picked Rock</h1>
<%= "The computer has picked #{@computer.pick_weapon}" %>
