<!DOCTYPE html>
<html>
<body>
    <p> ==> <%= @player_name %> chose <%= @attack %> </p>

    <p> ==> Computer chose <%= @game_1.show %> </p>

    <p> ==> <%= @game_1.who_wins(@attack) %> <== </p>
</body>
</html>

