<h1> <%= @name %> </h1>
<form action="/result" method="post">
<button type="submit" name="choice" value="rock">rock</button>
<button type="submit" name="choice" value="paper">paper</button>
<button type="submit" name="choice" value="scissors">scissors</button>
</form>