<center>
<h1>Rock, paper or scissors <%= @name %>?</h1>
<button name="rock" value="rock">rock</button>
<button name="paper" value="paper">paper</button>
<button name="scissors" value="scissors">scissors</button>
</center>
