<center>
<%# <h1>Rock, paper or scissors <%= @name%>?</h1> %>
<button id="rock" value="rock">rock</button>
<%# <button id="paper" value="paper">paper</button>
<button id="scissors" value="scissors">scissors</button> %>
</center>
