Player choice: Scissors<br>
Computer choice: <%= @comp_choice %><br><br>

<% if @comp_choice == "Rock" %>
  <b>Computer wins!</b><br><br>
<% elsif @comp_choice == "Scissors" %>
  <b>It's a draw!</b><br><br>
<% else %>
  <b>Player 1 wins!</b><br><br>
<% end %>

<a href="/begin">Play again!</a>