<img src='https://vignette.wikia.nocookie.net/spongebob/images/2/2a/Bikini_Bottom_Scissor_Works.png/revision/latest?cb=20150709014043' width="200" height="200">
<p> You chose scissors </p>
<p> Computer chose <%= @opponent %> </p>
<p style="color:red;"> <%= @winner %> </p>
<p><a href=/play>Play again</a></p>
