<p>Hi 
  <span style="color: red"> 
    <%= @name %></span>! 
  Please make your choice!</p>

<form action="/game" method="post">
  
  <input type="radio" id="rock" name="selection" value="Rock">
  <label for="rock">Rock</label><br>
  <input type="radio" id="paper" name="selection" value="Paper">
  <label for="paper">Paper</label><br>
  <input type="radio" id="scissors" name="selection" value="Scissors">
  <label for="scissors">Scissors</label><br>
  <br>
  <input type="submit" value="I made my choice!">

</form>