<h1> Welcome to rock paper scissors!!! </h1>

<p> To continue playing, choose a move: </p>

<form action="/action_page.php">
  <label for="choice">Choose your move:</label>
  <select>
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">scissors</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>