<h1><%= @result %></h1>

<form action='/play'>
   <input type='submit' value='Have another go!'>
 </form>

 <style>
 body {
 background-image: url('https://projects-static.raspberrypi.org/projects/rock-paper-scissors/53e3d7650eb63c856515c59aa623eac4497c067f/en/images/rock-paper-scissors.png');
 }
