<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rock, Paper, Scissors</title>
  </head>
  <body>
    <div>
      <h3>Welcome to</h3>
      <h1>Rock | Paper | Scissors</h1>
      <h3> The Temporary Cure for Persistent Marketing Woes (TM) </h3>
      <br>
      <h2>Player vs. Computer</h2>
    </div>
    <main>
      To get started, please enter your name:
      <form action='/name-submit' method='post'>
        <input type="text" name="name">
        <input type="submit" name="Start" value="Start Game">
      </form>
    </main>
  </body>
</html>
