<link rel="stylesheet" type="text/css" href="my.css">
<h1>ROCK PAPER SCISSORS LIZARD SPOCK!</h1>

<h3>Please enter your name!</h3>


<form action="/name" method="post">
  <input type="text" name="player" value="Player" required>
  <input style="width:40px" type="submit" value="Play Game!">
</form>

<form action="/">
  <input type="submit" value="Return to main menu">
</form>