<link rel="stylesheet" type="text/css" href="my.css"/>
<h1> ROCK PAPER SCISSORS LIZARD SPOCK! </h1>

<h3> Name yourself player! </h3>

<form action="/name" method="post">
  <input type="text" name="player1" value="Player 1" required="required">
  <input style="width:40px" type="submit" value="Go!">
</form>

<form action="/">
  <input type="submit" value="Back to Main Menu">
</form>
