<h1>---------------------------------------------------------------------------------------------------</h1>
<h1>---------------------------------------------------------------------------------------------------</h1>
<form action='/choice' method='post'>
<label for="Rock">
Rock
<input type="submit" name='value' value="Rock">
</label>
<h1>---------------------------------------------------------------------------------------------------</h1>
<h1>---------------------------------------------------------------------------------------------------</h1>
<label for="Paper">
Paper
<input type="submit" name='value' value="Paper">
</label>
<h1>---------------------------------------------------------------------------------------------------</h1>
<h1>---------------------------------------------------------------------------------------------------</h1>
<label for="Scissors">
Scissors
<input type="submit" name='value' value="Scissors">
</label>
</form>
<h1>---------------------------------------------------------------------------------------------------</h1>
