<h1>---------------------------------------------------------------------------------------------------</h1>
<h1>---------------------------------------------------------------------------------------------------</h1>
<label for="Rock">
Rock
<form action='/result' method='post'>
<input type="submit" value="Rock">
</label>
<h1>---------------------------------------------------------------------------------------------------</h1>
<label for="Paper">
    Paper
<form action='/result' method='post'>
<input type="submit" value="Paper">
</label>
<h1>---------------------------------------------------------------------------------------------------</h1>
<label for="Scissors">
Scissors
<form action='/result' method='post'>
<input type="submit" value="Scissors">
</label>
<h1>---------------------------------------------------------------------------------------------------</h1>
<h1>---------------------------------------------------------------------------------------------------</h1>
