<h1 style="text-align:center;">Choose rock, paper, or scissors</h1>
<p style="text-align:center;">
  <a href='/rock'> Rock </a>
</p>
<p style="text-align:center;">
  <a href='/paper'> Paper </a>
</p>
<p style="text-align:center;">
  <a href='/scissors'> Scissors </a>
</p>
