<h2> <%= @name %>, choose one of the options:</h2>

<!-- <form id="options" name="input" action="/result" method="post"> -->

<form>
  <input type="radio" id="rock" name="option" value="rock">
  <label for="rock">Rock</label><br>
  <input type="radio" id="paper" name="option" value="paper">
  <label for="paper">Paper</label><br>
  <input type="radio" id="scissors" name="option" value="scissors">
  <label for="scissors">Rock</label><br>
  <input type="submit" value="Submit">
</form>