<div>
    <h3>
    Hi, <%= @name_one %>! Rock, Paper, or Scissors?
    </h3>

  <form action = '/play' method ="post">
    <input type="submit" value="Rock" >
    <br>
    <br>
    <input type="submit" value="Paper">
    <br> 
    <br> 
    <input type="submit" value="Scissors">

  </form>

</div>