<form method="post" action="/two_players">
  <h2>Enter your name, Player 1:</h2>
  <input class="left" type="text" name="player1">
  <h2>Enter your name, Player 2:</h2>
  <input class="left" type="text" name="player2"><br><br>
  <input type="submit" value="Submit">
</form>
