<form method="post" action="/player1_choice">
  <h2>Enter your choice, <%=@player1%>:</h2>
  <input name="player1_choice" type="submit" value="Rock"></option>
  <input name="player1_choice" type="submit" value="Paper"></option>
  <input name="player1_choice" type="submit" value="Scissors"></option>
</form>
