<h1><%= @player_name.capitalize %> choose your weapon <h1>

   <form action="/outcome" method="post">
        <input id="rock" type="submit" name="player_choice" value="rock">
      </form>

       <form action="/outcome" method="post">
        <input id="paper" type="submit" name="player_choice" value="paper">
      </form>
      
      <form action="/outcome" method="post">
        <input id="scissors" type="submit" name="player_choice" value="scissors">
      </form>
