<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rock, Paper, Scissors - Play Game</title>
  </head>
  <body>
    <div>
      <h1><%= @player1 %> vs <%= @player2 %></h1>
      <br>
      <form action="/game" method="get">
        <input type="submit" name="Start" value="Begin!">
      </form>
    </div>
  </body>
</html>
