
<body style="background-color:black;">
<h1 style="color:gold;"><b>Welcome to Rock, Paper, Scissors<b></h1>

<form action="/name" method="post"> 
  <input type="text" name="player">
  <input type="submit" name = "submit" value="Lets Play!">
  </form>
