<body style="background-color: lightgreen;">
<img src="https://www.girlontheriver.com/wp-content/uploads/2017/03/IMG_1555.png" alt="winner" width="460" height="345">
<h1> <%= @result %> </h1>
</body>





