<head>
  <style>
    body {
      text-align: center;
      padding: 30px;
      /* background: #7986CB; */
      background-image: linear-gradient(#7986CB, #0D47A1);
      color: white;
      font-size: 20px;
    }
  </style>
</head>
<body>
  <h1> Rock Paper Scissors </h1>
  <p>Player: <%= @player %></p>
  <% if @choice == "Rock" %>
	  <h2> You win!> </h2>
  <% elsif @choice == Paper %>
	  <h2> It's a draw.> </h2>
  <% else %>
	  <h2> You lost!> </h2>
  <% end %>
  
  
</body>