#name_form{
    text-align: center;
    font-family: 'Black Ops One', cursive;
    position: fixed;
    top: 35%;
    left: 35%;
  
  }
  
  body{
    background-color: rgb(103, 210, 249);
  }
  
  h1 {
    text-decoration: underline
  }
  