
<form action='/' method="post">
 <ul>
    <li>
        <label for="Player1">Player 1</label>
        <input type="text" id="Player1" name="Player1">
    </li>
    <li>
        <label for="Player2">Player 2</label>
        <input type="text" id="Player2" name="Player2">
    </li>a
    <li>
        <input type="submit" value="Submit">
    </li>
 </ul>
</form>