<h1>
    <%= "#{@player1} vs #{@player2}" %> 
</h1>

<h1> 
    <%= "#{@player1}, youre fighting #{@player2} who has 10hp remaining!" %> 
</h1>

<form action='/attack' method="get">
    <input type="submit" value="Attack">
</form>