@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body {
  font-family: 'Balsamiq Sans', cursive;
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-msg{
  font-size: 5rem;
}

.moves {
  font-size: 2.5rem;
}

.controls {
  font-size: 1.25rem;
}