body {
  font-family: "Noto Sans", sans-serif;
  background-color: #fc8b3a;
  font-weight: 300;
}

.container {
  display: grid;
  place-items: center;
}

.black-border {
  border: 3px solid rgb(26, 26, 26);
}

.container h1 {
  font-size: 32px;
  font-weight: 600;
}

form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > * {
  padding-bottom: 1em;
}

label span {
  font-size: 24px;
}

input,
select {
  padding: 0.5em;
  border: 2px solid black;
  outline: none;
}

input[type="submit"] {
  background-color: rgb(32, 32, 32);
  color: #fdfdfd;
  transition: 0.25s ease;
}

input[type="submit"]:hover, button:hover{
  transform: scale(1.1);
}

a {
  color: #fdfdfd;
  text-transform: uppercase;
  letter-spacing: 00.25em;
  text-decoration: none;
}

a > p {
  background-color: #3c3836;
  padding: 1em 2em;
  text-align: center;
  transition: 0.25s ease;
}

form,
input,
select,
button{
  border-radius: 5px;
}

button {
  font-size: 18px;
  background-color: #f4f3f3;
  color: #3c3836;
  border: none;
  transition: 0.25s ease;
  padding: 1em 2em;
}