<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
html {
    height: 100%;
}
body{
  background-color: #b9e1fa !important;
}

h1 {
font-family: 'Pacifico', cursive;
  color:#263c94;
  font-size: 40px;
}

.intro{
  margin: 0 auto;
  text-align: center;
  width: 400px;
}

.giphy{
  margin-right: 100px;
}

.container{
  margin: 0 auto;
  width: 400px;
}
 label{
  font-size: 30px;
}

.buffer{
  margin-top: 50px;
}
button{
  margin: 0 auto;
  width: 200px;
  padding-top: 100px;
  text-align: center;
}

.buttons{
  padding-top: 50px;
  padding-left: 200px;
}

h2{
  font-size: 30px;
  text-align: center;
}
h3{
  font-size: 40px;
  text-align: center;
  font-family: 'Roboto', sans-serif;

}
#form{
  width: 300px;
  margin-bottom: 50px;
  text-align: center;
}
img {
  width: 200px;
}

.button_block{
  margin: 0 auto;
  width: 300px;
  text-align: center;
}
#showMe {
  animation: cssAnimation 0s 1s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}

#delay {
  animation: cssAnimation 0s 2s forwards;
  visibility: visible;
  text-align: center;
}

#move-1{
  width: 150px;
  text-align: center;
}

#move-2{
  width: 150px;
  text-align: center;
}
.center{
  margin-top: 100px;
}
@-webkit-keyframes delayChange { from { opacity:1; } to { opacity:1; } }
@-moz-keyframes delayChange { from { opacity:1; } to { opacity:1; } }
@keyframes delayChange { from { opacity:1; } to { opacity:1; } }
.delayChange {

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;

    -webkit-animation-delay: 2s;
-moz-animation-delay: 2s;
animation-delay: 2s;
}
