.background {
  background-color: #ecedce;
  background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/rps1-1583269897.jpg?resize=2048:*');
  background-repeat: no-repeat;
  background-size: 1480px 760px;
  color: white;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
}

.resulttable {
  table-layout: fixed;
  border-spacing: 80px 10px;
  text-align: center;
}

input[type=submit] {
  padding:10px 25px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
