.background_1 {
  background-image:url(https://wallpaperaccess.com/full/5580296.png)
}

.background_2 {
  background-image:url(https://cdn.dribbble.com/users/976907/screenshots/4879640/media/bf71d0fd9b5bd1d5558eb66b7f9a7fcb.gif)
}