<!DOCTYPE html>
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<title>RPS game</title>
<style>


</style>

</head>


<body>

<div class="container mt-3">
<h1>
  Hey there Marketeer!
</h1>
<h3> It is that time of the day when you can steam a little. </h3>
</br>
<form action="/names" method="post" class="w-50" >

  <div class="mb-3">
    <label for="" class="form-label">Please enter your name, brave one:</label>
    <input type="text" name="human_player" class="form-control">
  </div>
  
    <button type="submit" class="btn btn-primary col-md align-self-center battle-btn">Play!</button>
  </div>
  
</form>

</div>

</body>
</html>