<!DOCTYPE html>
<html>

<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<title>RPS game</title>
<style></style>
</head>

<body>

<div class="container mt-3">
<h1>
  Are you ready? Great!
</h1>

<h3 class="mt-4"> What is going to be: Rock, Paper, Scissors?</h3>

<form action="/rsp_game" method="post" class="mt-3 w-50">

<select class="form-select" id="SelectBox">
  <option selected>Select your weapon</option>
  <option value="1">🪨 Rock</option>
  <option value="2">📄 Paper</option>
  <option value="3">✄ Scissors</option>
</select>
<button type="submit" class="btn btn-primary mt-3">Attack!</button>
</form>

</div>

</body>

</html>